@use 'variables' as *;

// show-more-btn
.show-more-btn {
  border-right: 0;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid #3d3d3d;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    font-size: 12px;
    color: #3d3d3d;
    line-height: 1.3;
    /* margin: 4px 0; */
    font-weight: bold;
}

button:disabled {
  opacity: .5;
}

// button spinner
button {
  .box {
    display: inline-block;
    margin-left: 10px;
    .spinner {
      height: 20px;
      width: 20px;
      background: transparent;
      border-radius: 50%;
      border-top: 2px solid $primary-btn-txt;
      border-right: 2px solid transparent;
      animation: spin 700ms linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
  &:hover{
    .box {
      .spinner {
        border-color: $primary-btn-hvr-txt;
      }
    }
  }
}

.btn-href {
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1rem  !important;
  font-weight: 400 !important;
  text-decoration: none !important;
}

// primary btn
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 0 25px;
  border: $btn-border;
  color: $primary-btn-txt;
  font-weight: 400;
  background: #000000;
  text-transform: uppercase !important;
  cursor: pointer;
  border-radius: $btn-radius;
  height: 48px;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.15rem;
  em {
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $btn-radius;
    background: $primary-btn-hvr-bg;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  i {
    color: $primary-btn-txt !important;
  }
  &:hover,
  &:focus,
  &:active {
    color: $primary-btn-hvr-txt;
    text-decoration: none;
    &:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    i {
      color: $primary-btn-hvr-txt !important;
    }
  }
}

// secondary btn
.secondary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 0 30px;
  border: $btn-border;
  font-weight: 400;
  background: $secondary-btn-bg;
  color: $secondary-btn-txt;
  // text-transform: capitalize;
  cursor: pointer;
  border-radius: $btn-radius;
  height: 48px;
  font-size: 1rem;
  text-decoration: none;
 em{
   display: none;
 }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $btn-radius;
    background: $secondary-btn-hvr-bg;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  i {
    color: $secondary-btn-txt !important;
  }
  &:hover,
  &:focus,
  &:active {
      color: $secondary-btn-hvr-txt;
    &:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    i {
      color: $secondary-btn-hvr-txt !important;
    }
  }
}

//outline btn
.primary-btn-outline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 0 30px;
  border: 1px solid #000000;
  background:transparent;
  color: #000000;
  font-weight: 400; 
  cursor: pointer;
  border-radius: $btn-radius;
  height: 48px;
  font-size: 1rem;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $btn-radius;
    background: #000000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  lucide-icon {
    color: #000 !important;
     &.icon-fill{
        color:red;
        svg{
          fill:red!important;
          stroke: red;
        }
      }
  }
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    &:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    lucide-icon {
      stroke: #fff !important;
      &.icon-fill{
        color:red;
        svg{
          fill:red!important;
          stroke: red!important;
        }
      }
      svg{
        stroke: #fff !important;
      }
    }
  }
}


.view-all {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: $primary-btn-bg!important; 
  cursor: pointer;
  display: inline-block;
  padding:4px 0;
  border:0;
}

.view-all::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $primary-btn-bg;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.view-all:hover::after {
  transform: scaleX(0);
}

.clear-all-btn{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 0 30px;
  border: $btn-border;
  font-weight: 400;
  background: transparent;
  color: $secondary-btn-txt;
  cursor: pointer;
  border-radius: $btn-radius;
  height: 48px;
  font-size: 1rem;
}