<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section class="over-all smooth-fadein" *ngIf="!pageLoader">

  <!-- SEO h1 tag -->
  <h1 *ngIf="seo_details?.status" [hidden]="true">{{seo_details?.h1_tag}}</h1>
  <!-- #SEO h1 tag -->

  <!-- breadcrumb -->
  <section class="head-breadcrumb">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="head-breadcrumb-inner border-btm d-flex justify-content-between">
            <div>
              <h2>Blogs</h2>
              <p>Stories that inspire</p>
            </div>
            <div *ngIf="template_setting?.display_goback && commonService?.desktop_device" class="d-flex align-items-center justify-content-end">
              <span (click)="commonService.goBack();">GO BACK</span>
            </div>
          </div>
        </div>

        <div *ngIf="template_setting?.breadcrumb" class="col-md-12">
          <div class="breadcrumb-navigation mt-3">
            <ul class="collapsed">
              <li><a routerLink="/">Home</a></li>
              <li><span class="active-page">Blogs</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--# breadcrumb #-->

  <section class="common-site-section">
    <div class="{{template_setting?.body_type}}">
      <div *ngIf="list?.length" class="row">
        <div class="col-12 col-md-6 col-xl-4 d-flex" *ngFor="let x of list;">
          <article class="tulsi-blogs-card mb-4 w-100">
            <figure class="tulsi-blogs-card__media">
              <a (click)="onSelectBlog(x);" routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                <img width="100%" height="100%" appSmallImg [ImagelazyLoad]="imgBaseUrl+x.image" alt="{{(x.img_alt)? x.img_alt: x.name}}">
              </a>
            </figure>
            <div class="tulsi-blogs-card__body d-flex flex-column">
              <span class="post-info">
                {{x.created_on | date: "dd MMMM yyyy"}}<ng-container *ngIf="x.author"> | {{x.author}}</ng-container>
              </span>
              <h5 class="m-0">
                <a (click)="onSelectBlog(x);" routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                  {{x.name}}
                </a>
              </h5>
              <p class="overflow-dots blog-description" [innerHtml]="x.description"></p>
              <a class="tulsi-blogs-card__more" (click)="onSelectBlog(x);" routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                READ MORE
              </a>
            </div>
          </article>
        </div>

        <div class="col-md-12 navigation-ngx">
          <ng-container *ngFor="let td of tempList | paginate: { itemsPerPage: pageSize, currentPage: page };"></ng-container>
          <pagination-controls (pageChange)="page=$event; commonService.pageScrollTop(); getList();" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>

      <div *ngIf="!list?.length" class="row">
        <div class="col-12">
          <div class="live_order_id">
            <h5 align="center">No blogs found</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>