<section class="home-section">

  <!-- SEO h1 tag -->
  <h1 *ngIf="commonService.seo_details?.h1_tag" hidden>{{ commonService.seo_details.h1_tag }}</h1>
  <!-- #SEO h1 tag -->

  <!-- Primary Highlights -->
  <section *ngIf="commonService?.primary_highlights?.length>=swiperService.highlights?.card_count" class="primary-section primary-highlighted-sec wow fadeInUp">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-12">
          <div class="swiper-container multi-slider product-slider featured-sections" [ngClass]="commonService.desktop_device? 'desktop_phls': 'phls'" appHomeHighlights>
            <div class="swiper-wrapper">
              <div *ngFor="let x of commonService?.primary_highlights; let i=index;" class="swiper-slide">
                <div class="product-box cursor">
                  <a (click)="commonService.onPageRedirect(x);" class="prod-div">
                    <figure class="mb-0">
                      <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                      <div *ngIf="x?.content_status && x?.content_details?.heading" class="category-grid-text d-flex">
                        <p class="mb-0 py-2">{{ x.content_details.heading }}</p>
                      </div>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            <ng-container *ngIf="commonService?.desktop_device">
              <div id="highlight_next" [hidden]="true" class="swiper-button swiper-button-next"></div>
              <div id="highlight_prev" [hidden]="true" class="swiper-button swiper-button-prev"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #Primary Highlights -->

  <!-- Primary Main Slider -->
  <section *ngIf="template_setting?.primary_slider && commonService?.primary_main_slider?.length" class="dynamic-height primary-section home-slider">
    <div class="swiper-container dynamic-height" [ngClass]="(commonService.primary_main_slider?.length>1 && commonService.desktop_device)? 'desktop_pms': (commonService.primary_main_slider?.length>1)? 'pms': ''" appHomeSwiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let x of commonService.primary_main_slider; let j=index;" (click)="(x?.btn_status)? '': commonService.onPageRedirect(x);">
          <!-- mobile -->
          <ng-container *ngIf="commonService.screen_width <= maxWidth">
            <img width="100%" height="100%" appImgLazyLoad class="img--fitscreen" [ImagelazyLoad]="imgBaseUrl+x.mobile_img" alt="{{(x.img_alt)? x.img_alt: 'slider'}}">
            <div *ngIf="x?.content_status || x?.btn_status" class="home-slider-text d-flex" [ngClass]="{
              'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
              'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
              'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
              'justify-content-start text-left': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
              'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
              'justify-content-end text-right': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r'
            }">
              <div class="mr-2 ml-2 mt-2 mb-2" [ngClass]="(x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r')? 'mt--10': ''">
                <h1 *ngIf="x?.content_status && x?.content_details?.heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{x.content_details.heading}}</h1>
                <p *ngIf="x?.content_status && x?.content_details?.sub_heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'" [innerHTML]="x.content_details.sub_heading"></p>
                <button *ngIf="x?.btn_status && x?.btn_text" (click)="commonService.onPageRedirect(x);" class="primary-btn">{{x.btn_text}}</button>
              </div>
            </div>
          </ng-container>
          <!-- desktop -->
          <ng-container *ngIf="commonService.screen_width > maxWidth">
            <img width="100%" height="100%" appImgLazyLoad class="img--fitscreen" [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'slider'}}">
            <div *ngIf="x?.content_status || x?.btn_status" class="home-slider-text d-flex" [ngClass]="{
              'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
              'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
              'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
              'justify-content-start': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
              'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
              'justify-content-end': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r',
              'text-left': x?.position!='t_c' && x?.position!='m_c' && x?.position!='b_c'
            }">
              <div class="mr-8 ml-8 mt-5 mb-5">
                <h1 *ngIf="x?.content_status && x?.content_details?.heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{x.content_details.heading}}</h1>
                <p *ngIf="x?.content_status && x?.content_details?.sub_heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'" [innerHTML]="x.content_details.sub_heading"></p>
                <button *ngIf="x?.btn_status && x?.btn_text" (click)="commonService.onPageRedirect(x);" class="primary-btn">{{x.btn_text}}</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div id="primary_pagination" class="swiper-pagination"></div>
      <ng-container *ngIf="commonService?.desktop_device && commonService?.primary_main_slider?.length>1">
        <div [hidden]="!commonService?.window_loaded" id="primary_next" class="swiper-button swiper-button-next"></div>
        <div [hidden]="!commonService?.window_loaded" id="primary_prev" class="swiper-button swiper-button-prev"></div>
      </ng-container>
    </div>
  </section>
  <!-- #Primary Main Slider -->
  
  <!-- LAYOUTS -->
  <ng-container *ngFor="let segment of commonService.layout_list | orderAsc: 'rank'; let i=index;">

    <!-- Main Slider -->
    <ng-container *ngIf="segment.type=='primary_slider' || segment.type=='slider'">
      <section *ngIf="segment.image_list?.length" class="dynamic-height primary-section home-slider">
        <div class="swiper-container dynamic-height" [ngClass]="(segment.image_list?.length>1 && commonService.desktop_device)? 'desktopcarousal_'+(i+1): (segment.image_list?.length>1)? 'carousal_'+(i+1): ''" appHomeSwiper>
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let x of segment.image_list; let j=index;" (click)="(x?.btn_status)? '': commonService.onPageRedirect(x);">
              <!-- mobile -->
              <ng-container *ngIf="commonService.screen_width <= maxWidth">
                <img loading="lazy" appImgLazyLoad class="img--fitscreen" [ImagelazyLoad]="imgBaseUrl+x.mobile_img" alt="{{(x.img_alt)? x.img_alt: 'slider'}}">
                <div *ngIf="x?.content_status || x?.btn_status" class="home-slider-text d-flex" [ngClass]="{
                  'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
                  'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
                  'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
                  'justify-content-start text-left': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
                  'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
                  'justify-content-end text-right': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r'
                }">
                  <div class="mr-2 ml-2 mt-2 mb-2" [ngClass]="(x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r')? 'mt--10': ''">
                    <h1 *ngIf="x?.content_status && x?.content_details?.heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{x.content_details.heading}}</h1>
                    <p *ngIf="x?.content_status && x?.content_details?.sub_heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'" [innerHTML]="x.content_details.sub_heading"></p>
                    <button *ngIf="x?.btn_status && x?.btn_text" (click)="commonService.onPageRedirect(x);" class="primary-btn">{{x.btn_text}}</button>
                  </div>
                </div>
              </ng-container>
              <!-- desktop -->
              <ng-container *ngIf="commonService.screen_width > maxWidth">
                <img loading="lazy" width="100%" height="100%" appImgLazyLoad class="img--fitscreen" [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'slider'}}">
                <div *ngIf="x?.content_status || x?.btn_status" class="home-slider-text d-flex" [ngClass]="{
                  'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
                  'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
                  'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
                  'justify-content-start': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
                  'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
                  'justify-content-end': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r',
                  'text-left': x?.position!='t_c' && x?.position!='m_c' && x?.position!='b_c'
                }">
                  <div class="mr-8 ml-8 mt-5 mb-5">
                    <h1 *ngIf="x?.content_status && x?.content_details?.heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{x.content_details.heading}}</h1>
                    <p *ngIf="x?.content_status && x?.content_details?.sub_heading" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'" [innerHTML]="x.content_details.sub_heading"></p>
                    <button *ngIf="x?.btn_status && x?.btn_text" (click)="commonService.onPageRedirect(x);" class="primary-btn">{{x.btn_text}}</button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div id="swipe_pagination_{{i+1}}" class="swiper-pagination"></div>
          <ng-container *ngIf="commonService?.desktop_device && segment.image_list?.length>1">
            <div id="swipe_next_{{i+1}}" class="swiper-button swiper-button-next"></div>
            <div id="swipe_prev_{{i+1}}" class="swiper-button swiper-button-prev"></div>
          </ng-container>
        </div>
      </section>
    </ng-container>
    <!-- #Main Slider -->

    <!-- Section Grid -->
    <section *ngIf="segment.type=='section' && segment.image_list?.length" class="grid-categories grid-sec-margin primary-section wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div *ngIf="segment?.heading" class="col-12">
            <div class="titles">
              <h2>{{segment.heading}}</h2>
              <p *ngIf="segment.sub_heading" [innerHTML]="segment.sub_heading"></p>
              <span></span>
            </div>
          </div>

          <!-- Grid 1, 2, 3, 4, 5, 6, 11 -->
          <ng-container *ngIf="segment.section_grid_type!='grid_7' && segment.section_grid_type!='grid_8' && segment.section_grid_type!='grid_9' && segment.section_grid_type!='grid_10' && segment.section_grid_type!='grid_12'">
            <ng-container *ngFor="let x of segment.image_list; let j=index;">
              <div [ngClass]="{
                'col-md-6': segment.section_grid_type=='grid_1' || segment.section_grid_type=='grid_2',
                'col-md-4': segment.section_grid_type=='grid_3' || segment.section_grid_type=='grid_4' || segment.section_grid_type=='grid_11',
                'col-md-3': segment.section_grid_type=='grid_5' || segment.section_grid_type=='grid_6',
                'col-6': commonService.screen_width<991,
                'grid-odd-center': segment.section_grid_type=='grid_3' || segment.section_grid_type=='grid_11'
              }">
                <div class="category custom-grid" (click)="commonService.onPageRedirect(x);">
                  <figure>
                    <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                    <div *ngIf="x?.content_status && x?.content_details?.heading" class="category-grid-text d-flex" [ngClass]="{
                      'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
                      'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
                      'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
                      'justify-content-start': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
                      'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
                      'justify-content-end': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r',
                      'text-left': x?.position!='t_c' && x?.position!='m_c' && x?.position!='b_c'
                    }">
                      <p class="m-3" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{ x.content_details.heading }}</p>
                    </div>
                  </figure>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!-- ## Grid 1, 2, 3, 4, 5, 6, 11 ## -->

          <!-- Grid 7, 9, 12 -->
          <div *ngIf="segment.section_grid_type=='grid_7' || segment.section_grid_type=='grid_9' || segment.section_grid_type=='grid_12'" class="col-12">
            <div class="grids">
              <div class="grid-sizer"></div>
              <ng-container *ngFor="let x of segment.image_list; let j=index;">
                <div class="grid-item" [ngClass]="{
                  'double': segment?.section_grid_type=='grid_7' && j===0 || segment?.section_grid_type=='grid_7' && j===1 || segment?.section_grid_type=='grid_12' && j===0,
                  'four': segment?.section_grid_type=='grid_9' && j===4,
                  'trible': segment.section_grid_type=='grid_9' && j!=4,
                  'col-6' : segment?.section_grid_type=='grid_12' && j>0 || segment?.section_grid_type=='grid_7' && j>1
                }">
                  <div class="category">
                    <a (click)="(x.link_type!='internal')? commonService.onPageRedirect(x): null;" [routerLink]="(x.link_type=='internal')? x.link: null">
                      <figure>
                        <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                        <div *ngIf="x?.content_status && x?.content_details?.heading" class="category-grid-text d-flex" [ngClass]="{
                          'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
                          'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
                          'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
                          'justify-content-start': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
                          'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
                          'justify-content-end': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r',
                          'text-left': x?.position!='t_c' && x?.position!='m_c' && x?.position!='b_c'
                        }">
                          <p class="m-3" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{ x.content_details.heading }}</p>
                        </div>
                      </figure>
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- ## Grid 7, 9, 12 ## -->

          <!-- Grid 8, 10 -->
          <div *ngIf="segment.section_grid_type=='grid_8' || segment.section_grid_type=='grid_10'" class="col-12">
            <div [ngClass]="segment.section_grid_type=='grid_8'? 'masonry-grid8': 'masonry-grid10'">
              <ng-container *ngFor="let x of segment.image_list; let j=index;">
                <div class="masonry-col cursor" (click)="commonService.onPageRedirect(x);" [ngClass]="{
                  'masonry-col--2x': segment.section_grid_type=='grid_8' && j===1 || segment.section_grid_type=='grid_8' && j===3 || j===4
                }">
                  <figure>
                    <img loading="lazy" width="100%" height="100%" class="masonry-img" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.desktop_img" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                    <div *ngIf="x?.content_status && x?.content_details?.heading" class="category-grid-text d-flex" [ngClass]="{
                      'align-items-start': x?.position=='t_l' || x?.position=='t_c' || x?.position=='t_r',
                      'align-items-center': x?.position=='m_l' || x?.position=='m_c' || x?.position=='m_r',
                      'align-items-end': x?.position=='b_l' || x?.position=='b_c' || x?.position=='b_r',
                      'justify-content-start': x?.position=='t_l' || x?.position=='m_l' || x?.position=='b_l',
                      'justify-content-center': x?.position=='t_c' || x?.position=='m_c' || x?.position=='b_c',
                      'justify-content-end': x?.position=='t_r' || x?.position=='m_r' || x?.position=='b_r',
                      'text-left': x?.position!='t_c' && x?.position!='m_c' && x?.position!='b_c'
                    }">
                      <p class="m-3" [ngClass]="(x?.content_details?.text_color=='dark')? 'text-dark': 'text-light'">{{ x.content_details.heading }}</p>
                    </div>
                  </figure>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- ## Grid 8, 10 ## -->

        </div>
      </div>
    </section>
    <!-- #Section Grid -->

    <!-- Multi-tab Featured Products -->
    <section *ngIf="segment.type=='multiple_featured_product' && segment.multitab_list?.length" class="primary-section feature-sec-margin wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div *ngIf="segment.heading" class="col-12">
            <div class="titles">
              <h2>{{segment.heading}}</h2>
              <p *ngIf="segment.sub_heading" [innerHTML]="segment.sub_heading"></p>
              <span></span>
            </div>
          </div>
          <div class="col-12">
            <div class="tabs">
              <tabset>
                <ng-container *ngFor="let tab of segment.multitab_list; let j=index;">
                  <tab *ngIf="tab?.product_list?.length>=swiperService.multi_tab_featured_products?.card_count" heading="{{tab?.name}}">
                    <div *ngIf="tab?.product_list?.length>=swiperService.multi_tab_featured_products?.card_count" class="swiper-container multi-slider product-slider" [ngClass]="commonService.desktop_device? 'desktoptabslider_'+(i+1)+(j+1): 'tabslider_'+(i+1)+(j+1)" appHomeSwiper>
                      <div class="swiper-wrapper">
                        <div *ngFor="let x of tab.product_list; let k=index;" class="swiper-slide">
                          <a appMouseHover class="product-box" [ngClass]="template_setting?.p_card? 'primary-card p-3': ''"
                          (click)="tabNavigate(tab); commonService.selected_product=x;" routerLink="{{ x.seo_status ? '/product/'+x.seo_details.page_url : '/product/'+x._id }}">
                            <div class="prod-div">
                              <figure class="product-image">
                                <!-- label -->
                                <div class="product_labellist label_{{commonService.application_setting?.tag_position}}">
                                  <span class="span_label" *ngIf="commonService.store_properties?.auto_tags?.sold_out && x.stock<=0">
                                    {{commonService.store_properties?.auto_tags?.sold_out}}
                                  </span>
                                  <ng-container *ngIf="x.stock>0">
                                    <span class="span_label" *ngIf="commonService.store_properties?.auto_tags?.new_arrival && x.created_on>commonService.currDate">
                                      {{commonService.store_properties?.auto_tags?.new_arrival}}
                                    </span>
                                    <span class="span_label" *ngIf="commonService.store_properties?.auto_tags?.on_sale && x.disc_status">
                                      {{commonService.store_properties?.auto_tags?.on_sale}}
                                    </span>
                                    <span class="span_label" *ngFor="let tag of x.badge_list | orderAsc: 'rank';">{{tag.name}}</span>
                                  </ng-container>
                                </div>
                                <!-- image -->
                                <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.image_list[0].image" alt="{{(x.image_list[0].img_alt)? x.image_list[0].img_alt: 'Image'}}">
                                <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad *ngIf="commonService?.desktop_device && x.image_list.length > 1" [ImagelazyLoad]="imgBaseUrl+x.image_list[1]?.image" alt="{{(x.image_list[1].img_alt)? x.image_list[1].img_alt: 'Image'}}" class="image-hover">
                                <figcaption *ngIf="template_setting?.purchase_badge">
                                  <span class="swipe-btn">
                                    <span class="swipe-btn-txt">Purchase
                                      <i class="material-icons">shopping_bag</i>
                                    </span>
                                  </span>
                                </figcaption>
                              </figure>
                              <div class="product-content">
                                <h3 *ngIf="x.brand">{{x.brand}}</h3>
                                <h4>{{x.name}}</h4>
                                <div>
                                  <span *ngIf="x.disc_status" class="strike">{{ x.temp_selling_price | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                                  <span>{{ x.temp_discounted_price | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                                  <div *ngIf="template_setting?.purchase_txt" class="purchase-div">
                                    <a>PURCHASE</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- explore all -->
                        <div class="swiper-slide">
                          <div class="product-box cursor d-flex justify-content-center align-items-center" [ngClass]="template_setting?.p_card? 'primary-card p-3': ''">
                            <button class="primary-btn" (click)="exploreAll(tab);" type="button">
                              Explore All
                            </button>
                          </div>
                        </div>
                      </div>
                      <div id="swipe_next_{{i+1}}{{j+1}}" class="swiper-button swiper-button-next"></div>
                      <div id="swipe_prev_{{i+1}}{{j+1}}" class="swiper-button swiper-button-prev"></div>
                    </div>
                  </tab>
                </ng-container>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Multi-tab Featured Products -->

    <!-- Flexible Segment -->
    <section *ngIf="segment.type=='flexible'" class="primary-section wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div class="col-md-12">
            <div class="ql-container flexible-section">
              <div class="ql-editor">
                <div [innerHTML]="segment.content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Flexible Segment -->

    <!-- blogs -->
    <section *ngIf="segment.type=='blogs' && segment.image_list?.length" class="primary-section news wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div *ngIf="segment.heading" class="col-12">
            <div class="titles">
              <h2>{{segment.heading}}</h2>
              <p *ngIf="segment.sub_heading" [innerHTML]="segment.sub_heading"></p>
              <span></span>
            </div>
          </div>
          <ng-container *ngIf="segment.blogs_type=='grid'">
            <div *ngFor="let x of segment.image_list;" class="col-12" [ngClass]="{
              'col-md-3': segment.section_grid_type=='grid_3', 'col-md-4': segment.section_grid_type=='grid_2', 'col-md-6': segment.section_grid_type=='grid_1'
            }">
              <div class="news-box">
                <figure>
                  <a routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                    <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                  </a>
                  <figcaption>
                    <small>{{x.created_on | date: "MMM dd, yyyy"}}</small>
                    <h3>
                      <a routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">{{x.name}}</a>
                    </h3>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-4">
              <button class="primary-btn" routerLink="/blogs" type="button">
                View All
              </button>
            </div>
          </ng-container>

          <div class="col-12" *ngIf="segment.blogs_type=='slider'">
            <div class="swiper-container" [ngClass]="commonService.desktop_device? 'desktopblogslider_'+(i+1): 'blogslider_'+(i+1)" appHomeSwiper>
              <div class="swiper-wrapper">
                <div *ngFor="let x of segment.image_list; let j=index;" class="swiper-slide">
                  <div class="news-box p-3" routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                    <figure>
                      <a routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">
                        <img loading="lazy" width="100%" height="100%" appLqimgLoad appDeferLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="{{(x.img_alt)? x.img_alt: 'Image'}}">
                      </a>
                      <figcaption>
                        <small>{{x.created_on | date: "MMM dd, yyyy"}}</small>
                        <h3>
                          <a routerLink="{{ x.seo_status ? '/blogs/'+x.seo_details.page_url : '/blogs/'+x._id }}">{{x.name}}</a>
                        </h3>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!-- view all -->
                <div class="swiper-slide">
                  <div class="news-box p-3 d-flex justify-content-center align-items-center">
                    <button class="primary-btn" type="button" routerLink="/blogs">View All</button>
                  </div>
                </div>
              </div>
              <div id="swipe_next_{{i+1}}" class="swiper-button swiper-button-next"></div>
              <div id="swipe_prev_{{i+1}}" class="swiper-button swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #blogs -->

  </ng-container>
  <!-- #LAYOUTS -->

  <!-- seo links -->
  <section *ngIf="commonService.footer_seo_links?.length">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="collections">
            <ng-container *ngFor="let x of commonService.footer_seo_links | orderAsc: 'rank';">
              <p>{{x.name}}</p>
              <ul class="pl-0">
                <li *ngFor="let y of x.links">
                  <a [routerLink]="(y.link_type=='internal')? y.link: null" (click)="(y.link_type!='internal')? commonService.onPageRedirect(y): null;">
                    {{y.name}}
                  </a>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #seo links -->

</section>

<!-- AI Filter -->
<div bsModal #styleModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-style">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div *ngIf="commonService.ys_features.indexOf('shopping_assistant')!=-1" class="modal-content">

      <div class="modal-header">
        <div>
          <h5 class="modal-title">AI STYLING ASSISTANT</h5>
          <p class="m-0">Tell us about yourself</p>
        </div>
        <div class="d-flex">
          <i class="material-icons" (click)="styleModal.hide();">close</i>
        </div>
      </div>

      <div class="modal-body slim-scroll">
        <div *ngIf="commonService?.ai_styles[styleIndex]" class="row">
          <div class="col-md-12 mt-4">
            <h5>{{ commonService?.ai_styles[styleIndex]?.heading }}</h5>
            <p *ngIf="commonService?.ai_styles[styleIndex]?.sub_heading">{{ commonService?.ai_styles[styleIndex]?.sub_heading }}</p>
            <div class="row">
              <div *ngFor="let x of commonService.ai_styles[styleIndex].filtered_option_list; let i=index;" class="col-lg-3 col-md-4 col-6 d-flex mb-3">
                <div class="primary-card customize-model p-3">
                  <label class="store-label m-0">
                    <!-- Radio -->
                    <input *ngIf="commonService?.ai_styles[styleIndex]?.type=='either_or'" type="radio" name="option" class="option-input radio" value="{{x._id}}"
                    [checked]="commonService.ai_styles[styleIndex].selected_option==x._id" (change)="commonService.ai_styles[styleIndex].selected_option=x._id; getRadioNextList(x._id);" />
                    <!-- Checkbox -->
                    <input *ngIf="commonService?.ai_styles[styleIndex]?.type!='either_or'" type="checkbox" class="option-input checkbox" name="option"
                    [(ngModel)]="x.aistyle_option_checked" (change)="getCheckboxNextList();" />
                    <!-- Content -->
                    <img loading="lazy" width="100%" height="100%" imgBroken *ngIf="x.image" [src]="imgBaseUrl+x.image" class="img-fluid" alt="model">
                    <img loading="lazy" width="100%" height="100%" imgBroken class="addon-icon opacity6" *ngIf="!x.image" src="assets/images/addon.svg" alt="addon">
                    <h6 class="text-center m-0">{{x.heading}}</h6>
                    <p *ngIf="x.sub_heading" class="text-center m-0">{{x.sub_heading}}</p>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer flex-column">
        <div class="proceed-sec d-flex justify-content-between w-100 m-0">
          <!-- left btn -->
          <button *ngIf="styleIndex==0" (click)="styleModal.hide();" class="primary-btn">CLOSE</button>
          <button *ngIf="styleIndex>0" (click)="styleIndex=styleIndex-1; commonService?.scrollModalTop(0);" class="primary-btn">PREVIOUS</button>
          <!-- #left btn -->
          <!-- right btn -->
          <button *ngIf="commonService?.ai_styles[styleIndex+1]?.filtered_option_list?.length" (click)="onStyleNext();" class="primary-btn">NEXT</button>
          <button *ngIf="!commonService?.ai_styles[styleIndex+1]?.filtered_option_list?.length" (click)="styleModal.hide(); onStylingFilter();" class="primary-btn">SUBMIT</button>
          <!-- #right btn -->
        </div>
      </div>

    </div>
  </div>
</div>
<!-- #AI Filter -->