<main>
  <section class="site-section">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="gray-card primary-card p-3">
            <div class="content-404" align="center">
              <h4>{{params?.response}}</h4>
              <p>
                <button class="primary-btn" type="button" routerLink="/">GO TO HOME PAGE</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>