.card{
    img{
        height: 400px;
        object-fit: cover;
    }
}
.content{
    p{
        color: #000;
        text-decoration: none;
        padding: 24px 0px 0;
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1.3;
    }  
}
.primary-card:hover a{
    text-decoration: none !important;
}