<section class="over-all smooth-fadein">
  <section class="common-site-section">
    <div class="{{template_setting?.body_type}}">
      <div class="primary-card p-3">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="sec-404-img w-100">
              <div class="img-404 d-flex justify-content-center">
                <img width="100%" height="100%" imgBroken src="assets/images/404.svg" alt="404">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-404" align="center">
              <h1>404</h1>
              <h2>Something’s missing.</h2>
              <p>Unfortunately the page you are<br>looking for has been moved or deleted.</p>
              <p>
                <button class="primary-btn" type="button" routerLink="/">GO BACK</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>