.text {
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  max-height: 150px;
  /* large enough for full content */
}

.collapsed {
  max-height: 42px;
  /* initial preview height */
}

.text {
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 1;
}

.collapsed {
  opacity: 0.8;
}

.head-breadcrumb {
  select {
    width: auto;
    height: 30px;
  }
}

// .primary-highlighted-sec{
//   figure{
//     width:100px;
//     height:100px;
//     margin: 0 auto;
//     overflow: hidden;
//     border-radius: 50px;
//     img{
//       border-radius: 50px;
//     }
//   }
//   .category-grid-text p {
//     width: 100%;
//     font-size: 12px;
//     line-height: 1em;
//     letter-spacing: .3px;
//     text-align: center;
//     text-shadow: none;
//     color: #313131;
// }
// }

.category-filter-section{
  .category-card{
    padding:8px;
  }
  .card-img {
    width:100%;    
    height: 100%;
    object-fit: cover; 
    object-position: top;
  }
  .card-text{
    width: 100%;
    text-align: left;   
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-top: 8px;
    text-decoration: underline;
  // &::after {
  //     content: "";     
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 100%;
  //     height: 2px; /* thickness of border */
  //     background-color: #000;
  //   }   
  }
}

.content-section{
  padding:60px 0;
  .left-content{
    p{
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }
  .right-profile{
    .pro-name{
      font-size: 0.875rem;
    }
  }
}