<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section *ngIf="!pageLoader && !commonService.contact_page_info?.heading" class="over-all smooth-fadein">
  <section class="site-section">
    <div class="{{template_setting?.body_type}}">
      <div>
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-center">
            <p class="d-flex align-items-center justify-content-center mt-5">Contact Us</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section *ngIf="!pageLoader && commonService.contact_page_info?.heading" class="over-all smooth-fadein">
  <section class="common-site-section contact">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <!-- address -->
        <div class="col-md-6">
          <div class="contact-infos">
            <div class="titles">
              <h5>{{ commonService.contact_page_info?.heading }}</h5>
              <h3>{{ commonService.contact_page_info?.sub_heading }}</h3>
              <span></span>
            </div>
            <address>
              <div [innerHtml]="commonService.contact_page_info.address"></div>
            </address>
          </div>
        </div>
        <!-- enquiry form -->
        <div class="col-md-6">
          <div class="contact-us-form mb-3">
            <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate>
              <div class="primary-card p-3 mb-3">
                <p>Name</p>
                <input type="text" name="name" class="w-100" [(ngModel)]="contactForm.name" required />
              </div>
              <div class="primary-card p-3 mb-3">
                <p>Email</p>
                <input type="email" name="email" class="w-100" [(ngModel)]="contactForm.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid Email ID" appLowercase required />
              </div>
              <div class="primary-card p-3 mb-3">
                <p>Mobile</p>
                <input type="tel" name="mobile" class="w-100" [(ngModel)]="contactForm.mobile" appNumberOnly />
              </div>
              <div class="primary-card p-3 mb-3">
                <p>Message</p>
                <textarea name="message" class="w-100" [(ngModel)]="contactForm.message"></textarea>
              </div>
              <div *ngIf="alert_msg" [ngClass]="success_alert? 'success-alert': 'danger-alert'">
                <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                  <span class="material-icons"></span>
                  <p class="m-0">{{ alert_msg }}</p>
                </div>
              </div>
              <button type="submit" [disabled]="contactForm.submit" class="primary-btn d-flex justify-content-center align-items-center w-100">
                SEND
                <div *ngIf="contactForm.submit" class="box">
                  <div class="spinner"></div>
                </div>
              </button>
            </form>
          </div>
        </div>
        <!-- map -->
        <div *ngIf="commonService.contact_page_info?.map_url" class="col-12">
          <iframe [src]="commonService.contact_page_info.map_url" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</section>