.new-addons{
    background-color: #f2f2f2;
    padding: 35px 15px 15px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    .title{
        background-color: #3D3D3D;
        color: #fff;
        padding: 5px 15px;
        border-radius: 25px;
        position: absolute;
        top: -15px;
    }
    p{
        margin-bottom: 0;
    }
    .select-btn{
        padding-top: 20px;
        gap: 15px;
        flex-wrap: wrap-reverse;
    }
    .primary-btn{
        background-color: #fff;
        color: #000;
        border: 1px solid rgb(0 0 0 / 20%);
    }
}

.timeline {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 30px 20px;
      max-width: 600px;
      margin: auto;
      margin-top: 10px;

    .step {
      text-align: center;
      position: relative;
      flex: 1;
    }

    .step:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 24px;
      right: -50%;
      width: 100%;
      height: 2px;
      background: #D99550;
      z-index: 0;
    }

    .circle {
      background-color: #D99550;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 8px;
      z-index: 1;
      position: relative;
    }

    .circle img {
      width: 24px;
      height: 24px;
    }

    .title {
      font-weight: bold;
      margin-bottom: 4px;
    }

    .date {
      color: #3d3d3d;
      opacity: 0.7;
      font-size: 14px;
    }
}
.text-black{
  color: #000000 !important;
}
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next::after {
  content: none;
}
.gray{
  font-size: 1rem;
  margin-bottom: 20px;
}
.selected-option{
  background-color: #F2F2F2;
  padding: 8px 20px;
  margin-left: 15px;
  .prod-link-mdl{
    font-size: 16px;
  }
 }

 .stickyCart{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 90px;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: transform .25s, -webkit-transform .25s ease;
  transition: transform .5s, -webkit-transform .5s ease;
  z-index: 9 !important;
  border: 1px solid #eee;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  &.sticky_show{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  // .container{
  //   max-width: 95%;
  //   padding-left: 60px;
  //   padding-right: 60px;
  // }
  .sticky-cart-details{
    .product-image{
      img{
        width: 60px;
        height: auto;
      }
    }
    .product-details{
      h4{
        font-size: 16px;
      }
      p{
        margin-bottom: 0;
        .product-price{
          font-size: 16px;;
        }
      }
    }
    .pro-qty{
      height: 48px;
    }
  }  
 }

 @media screen and (max-width: 767px) {  
    .stickyCart{
      height: 80px;
    }
    .container{
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    .sticky-cart-details{
      width:100%;
      justify-content: space-around;
      .product-add-btn{
        margin: 0 !important;
      }
      .product-image, .product-details{
        display: none;
      }   
    }
  }
  .header-s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    padding: 12px;
    cursor: pointer;
    background-color: #f2f2f2;
}
.active-image{
  border: 1px solid #000;
  padding: 2.5px;
}

.note{
  font-size: 14px;
  span{
    font-weight: 600;
    color:#D99550;
  }
}

// .add-to-cart-btn {
//   font-size: 18px;
//     padding: 0;
//     background:#d99550;
//     // background: linear-gradient(135deg, #d99550f2, #d99550cc, #d9955099, #d99550cc, #d99550f2);
//     -webkit-backdrop-filter: blur(7px);
//     backdrop-filter: blur(7px);
//     box-shadow: 0 3px 10px #d995504d, inset 0 1px #ffffff80, inset 0 -1px #fff3;
//     border: none;
//     position: relative;
//     // overflow: hidden;
//     transition: all .3s ease;
//     width:100%;
//     height: 48px;
//     color:#fff;
//     font-size: 1rem;
//     text-transform: uppercase;
// }

// .add-to-cart-btn::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: -100%;
//   width: 35%;
//   height: 100%;
//   background: linear-gradient(90deg,transparent, rgba(255, 255, 255, 0.3), transparent);
//   animation: quickBuyShine 3.5s ease-in-out infinite;
//   z-index: 1;
// }

// .add-to-cart-btn:hover{
//    transform: translateY(-1px);  
//     color:#000;
//     &::before{
//       left: 100%;
//     }
// }

// @keyframes quickBuyShine {
//   0% {
//     left: -100%;
//   }
//   30% {
//     left: 100%;
//   }
//   100% {
//     left: -100%;
//   }
// }

.add-to-cart-btn {
  font-size: 1rem;
  padding: 0;
  width: 100%;
  height: 48px;
  background-color: #000000; 
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 
    0 3px 10px rgba(255, 255, 255, 0.05), 
    inset 0 1px 0 rgba(255, 255, 255, 0.1), 
    inset 0 -1px 0 rgba(255, 255, 255, 0.05); 
  
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.add-to-cart-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 35%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  animation: quickBuyShine 3.5s ease-in-out infinite;
  z-index: 1;
}

.add-to-cart-btn:hover {
  transform: translateY(-1px);
  color: #fff;
}

@keyframes quickBuyShine {
  0% {
    left: -100%;
  }
  30% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
