<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section class="over-all smooth-fadein" *ngIf="!pageLoader">

  <!-- breadcrumb -->
  <section class="head-breadcrumb">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="head-breadcrumb-inner border-btm d-flex justify-content-between">
            <div>
              <h2>Address</h2>
              <!-- product -->
              <ng-container *ngIf="params?.type=='product'">
                <!-- pickup -->
                <p *ngIf="checkout_details?.order_type=='pickup'">
                  {{ (commonService?.customer_token)? 'Select': 'Set' }} billing information
                </p>
                <!-- shipping -->
                <p *ngIf="checkout_details?.order_type!='pickup'">
                  {{ (commonService?.customer_token)? 'Select': 'Set' }} delivery location
                </p>
              </ng-container>
              <!-- gift card -->
              <p *ngIf="params?.type!='product'">Select billing address</p>
            </div>
            <div *ngIf="template_setting?.display_goback && commonService?.desktop_device" class="d-flex align-items-center justify-content-end">
              <span (click)="commonService.goBack();">GO BACK</span>
            </div>
          </div>
        </div>

        <div *ngIf="template_setting?.breadcrumb" class="col-md-12">
          <div class="breadcrumb-navigation mt-3">
            <ul class="collapsed">
              <li><a routerLink="/">Home</a></li>
              <li><a class="active-page">Address</a></li>
              <li *ngIf="params?.type=='product'">
                <a class="opacity6" *ngIf="checkout_details?.order_type=='pickup'">Choose Pickup Method</a>
                <a class="opacity6" *ngIf="checkout_details?.order_type!='pickup'">
                  {{ (commonService.ys_features.indexOf('time_based_delivery')!=-1)? 'Choose Delivery Method': 'Choose Shipping Method' }}
                </a>
              </li>
              <li><a class="opacity6">Order Details</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--# breadcrumb #-->

  <section class="common-site-section">
    <!-- valid user -->
    <div class="{{template_setting?.body_type}}" *ngIf="commonService?.customer_token">
      <ng-container *ngFor="let x of list; let i=index;">
        <div class="mb-5">
          <div *ngIf="list?.length>1">
            <h5>Address {{i+1}}</h5>
          </div>
          <div class="gray-card primary-card p-3">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="profile_address">
                  <h6>Address</h6>
                  <p>{{x.address}}</p>
                  <p>{{x.country}}</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="profile_address">
                  <h6>Name</h6>
                  <p>{{x.name}}</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="profile_address">
                  <h6>Phone</h6>
                  <p>{{x.dial_code}} {{x.mobile}}
                    <p>
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <!-- for product -->
                <ng-container *ngIf="params?.type=='product'">
                  <ng-container *ngIf="commonService.ys_features.indexOf('pincode_service')!=-1 && commonService.store_properties.pincodes.length">
                    <!-- alert msg -->
                    <div *ngIf="commonService.store_properties.pincodes?.indexOf(x.pincode)==-1" class="danger-alert">
                      <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                        <span class="material-icons"></span>
                        <p class="m-0">Service not available for this pincode - {{x.pincode}}</p>
                      </div>
                    </div>
                    <!-- btn -->
                    <button *ngIf="commonService.store_properties.pincodes?.indexOf(x.pincode)!=-1" type="button" (click)="x.submit=true; onSelectForProduct(x, i);"
                    [disabled]="x.submit" class="primary-btn d-flex justify-content-center align-items-center w-100">
                      DELIVER HERE
                      <div class="box" *ngIf="x.submit">
                        <div class="spinner"></div>
                      </div>
                    </button>
                  </ng-container>
                  <button *ngIf="commonService.ys_features.indexOf('pincode_service')==-1 || !commonService.store_properties.pincodes.length" type="button" (click)="x.submit=true; onSelectForProduct(x, i);" [disabled]="x.submit"
                  class="primary-btn d-flex justify-content-center align-items-center w-100">
                    DELIVER HERE
                    <div class="box" *ngIf="x.submit">
                      <div class="spinner"></div>
                    </div>
                  </button>
                </ng-container>
                <!-- for gift card -->
                <button *ngIf="params?.type=='giftcard'" type="button" (click)="x.submit=true; onSelectForGiftcard(x);" [disabled]="x.submit"
                  class="primary-btn d-flex justify-content-center align-items-center w-100">
                  SELECT
                  <div class="box" *ngIf="x.submit">
                    <div class="spinner"></div>
                  </div>
                </button>
              </div>
              <div class="col-12">
                <div class="billing_address_div">
                  <span *ngIf="x.billing_address || x.shipping_address" class="notify-badge">
                    {{ (x.billing_address && x.shipping_address)? 'Billing & Shipping': (x.billing_address)? 'Billing': 'Shipping' }} Address
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-12">
          <div class="add_address-btn">
            <button type="button" class="primary-btn" (click)="onOpenAddressModal(addressModal);">ADD NEW ADDRESS</button>
          </div>
        </div>
      </div>
    </div>
    <!-- guest user -->
    <div *ngIf="!commonService?.customer_token" class="guest-user-address">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <!-- email form -->
            <form (ngSubmit)="onChangeGuest();" ngNativeValidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="gray-card primary-card p-3">
                    <div class="row">
                      <div class="col-6 d-flex align-items-center">
                        <h6 class="m-0" *ngIf="!guestForm?.email_change">{{commonService.guest_email}}</h6>
                        <input *ngIf="guestForm?.email_change" placeholder="Enter your email address" type="email" name="guest_email" [(ngModel)]="guestForm.email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid Email ID" (input)="guestForm.errorMsg=null;" appLowercase required />
                      </div>
                      <div class="col-6 d-flex align-items-center justify-content-end">
                        <button class="primary-btn" *ngIf="!guestForm?.email_change" type="button" (click)="guestForm.email_change=true;">CHANGE</button>
                        <button *ngIf="guestForm?.email_change" class="primary-btn d-flex justify-content-center align-items-center" type="submit" [disabled]="guestForm.submit">
                          UPDATE
                          <div class="box" *ngIf="guestForm.submit">
                            <div class="spinner"></div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="guestForm?.errorMsg" class="col-lg-12">
                    <div class="danger-alert">
                      <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                        <span class="material-icons"></span>
                        <p class="m-0">{{guestForm.errorMsg}}</p>
                      </div>
                    </div>
                  </div>
              </div>
            </form>
            <!-- address form -->
            <form (ngSubmit)="onDeliver();" ngNativeValidate>
              <div class="row">
                <!-- Shipping Address -->
                <div class="col-md-12 mt-3">
                  <h5>Shipping Address</h5>
                </div>
                <div class="col-md-12">
                  <div class="w-100 d-flex align-items-center justify-content-center mt-3 mb-3">
                    <div class="pr-2 pl-2">
                      <label class="store-label d-flex align-items-center m-0">
                        <input type="radio" class="option-input radio" name="type" value="home" [(ngModel)]="addressForm.type" />
                        <span>HOME</span>
                      </label>
                    </div>
                    <div class="pr-2 pl-2">
                      <label class="store-label d-flex align-items-center m-0">
                        <input type="radio" class="option-input radio" name="type" value="office" [(ngModel)]="addressForm.type" />
                        <span>OFFICE</span>
                      </label>
                    </div>
                    <div class="pr-2 pl-2">
                      <label class="store-label d-flex align-items-center m-0">
                        <input type="radio" class="option-input radio" name="type" value="other" [(ngModel)]="addressForm.type" />
                        <span>OTHER</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div *ngIf="addressForm.type=='other'" class="col-md-12">
                  <div class="gray-card primary-card p-3">
                    <p>Address Title:</p>
                    <input class="w-100" type="text" name="other_place" [(ngModel)]="addressForm.other_place" #other_place="ngModel" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="gray-card primary-card p-3">
                    <p>Full Name:</p>
                    <input class="w-100" type="text" name="name" [(ngModel)]="addressForm.name" #name="ngModel" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="gray-card primary-card p-3">
                    <p>Country:</p>
                    <select class="w-100" name="country" [(ngModel)]="addressForm.country" (change)="addressForm.state=null; onCountryChange(addressForm.country);"
                    [disabled]="commonService?.application_setting?.ship_only_in_domestic" required>
                      <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="gray-card primary-card p-3">
                    <p>Mobile No:</p>
                    <div class="input-group modal-phone-no">
                      <div class="input-group-prepend">
                        <select name="dial_code" [(ngModel)]="addressForm.dial_code" #dial_code="ngModel" required class="form-control h-auto">
                          <option *ngFor="let x of commonService.country_list | orderAsc: 'dial_code';" [ngValue]="x.dial_code">{{x.dial_code}}</option>
                        </select>
                      </div>
                      <input *ngIf="!mobile_pattern" type="tel" class="form-control border-radius-0" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" appNumberOnly required>
                      <input *ngIf="mobile_pattern" type="tel" class="form-control border-radius-0" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" [pattern]="mobile_pattern"
                      maxlength="{{country_details?.mobileno_length}}" title="Please fill {{country_details?.mobileno_length}} digit mobile number" appNumberOnly required>
                    </div>
                  </div>
                </div>
                <ng-container *ngFor="let field of address_fields; let j=index;">
                  <ng-container *ngIf="field.keyword=='state'">
                    <!-- if state list exist -->
                    <div *ngIf="state_list?.length" class="col-lg-6">
                      <div class="gray-card primary-card p-3">
                        <p>{{field.label}}:</p>
                        <select class="w-100" name="field{{j}}" [(ngModel)]="field.value" required>
                          <option *ngFor="let x of state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                        </select>
                      </div>
                    </div>
                    <!-- if not state list exist -->
                    <div *ngIf="!state_list?.length" class="col-lg-6">
                      <div class="gray-card primary-card p-3">
                        <p>{{field.label}}:</p>
                        <input class="w-100" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
                      </div>
                    </div>
                  </ng-container>
                  <div *ngIf="field.keyword!='state'" class="col-lg-6">
                    <div class="gray-card primary-card p-3">
                      <p>{{field.label}}:</p>
                      <input class="w-100" type="text" name="field{{j}}" [(ngModel)]="field.value" (input)="addressForm.error_msg=null;" required>
                    </div>
                  </div>
                </ng-container>
                <div class="col-lg-12">
                  <div class="gray-card primary-card p-3">
                    <p>Complete Address:</p>
                    <textarea class="w-100" name="address" [(ngModel)]="addressForm.address" #address="ngModel" required></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="gray-card primary-card p-3">
                    <p>Landmark:</p>
                    <input class="w-100" type="text" name="landmark" [(ngModel)]="addressForm.landmark" #landmark="ngModel">
                  </div>
                </div>
                
                <!-- Billing Address -->
                <div class="col-md-12 mt-3">
                  <h5>Billing Address</h5>
                </div>
                <div class="col-md-12">
                  <div class="gray-card primary-card p-3">
                    <div class="w-100 d-flex align-items-start justify-content-start mt-3 mb-3">
                      <div class="pr-2 pl-2">
                        <label class="store-label d-flex align-items-start m-0">
                          <input type="radio" class="option-input radio" name="billing" value="same" [(ngModel)]="billingAddr" />
                          <span>Same as shipping address</span>
                        </label>
                      </div>
                      <div class="pr-2 pl-2">
                        <label class="store-label d-flex align-items-start m-0">
                          <input type="radio" class="option-input radio" name="billing" value="different" [(ngModel)]="billingAddr" />
                          <span>Use a different billing address</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <ng-container *ngIf="billingAddr==='different'">
                  <div class="col-lg-6">
                    <div class="gray-card primary-card p-3">
                      <p>Full Name:</p>
                      <input class="w-100" type="text" name="b_name" [(ngModel)]="billingForm.name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="gray-card primary-card p-3">
                      <p>Country:</p>
                      <select class="w-100" name="b_country" [(ngModel)]="billingForm.country" (change)="billingForm.state=null; onCountryChange(addressForm.country);"
                      [disabled]="commonService?.application_setting?.ship_only_in_domestic" required>
                        <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="gray-card primary-card p-3">
                      <p>Mobile No:</p>
                      <div class="input-group modal-phone-no">
                        <div class="input-group-prepend">
                          <select name="b_dial_code" [(ngModel)]="billingForm.dial_code" #dial_code="ngModel" required class="form-control h-auto">
                            <option *ngFor="let x of commonService.country_list | orderAsc: 'dial_code';" [ngValue]="x.dial_code">{{x.dial_code}}</option>
                          </select>
                        </div>
                        <input *ngIf="!b_mobile_pattern" type="tel" class="form-control border-radius-0" name="b_mobile" [(ngModel)]="billingForm.mobile" #mobile="ngModel" appNumberOnly required>
                        <input *ngIf="b_mobile_pattern" type="tel" class="form-control border-radius-0" name="b_mobile" [(ngModel)]="billingForm.mobile" #mobile="ngModel" [pattern]="b_mobile_pattern"
                        maxlength="{{b_country_details?.mobileno_length}}" title="Please fill {{b_country_details?.mobileno_length}} digit mobile number" appNumberOnly required>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngFor="let field of b_address_fields; let j=index;">
                    <ng-container *ngIf="field.keyword=='state'">
                      <!-- if state list exist -->
                      <div *ngIf="b_state_list?.length" class="col-lg-6">
                        <div class="gray-card primary-card p-3">
                          <p>{{field.label}}:</p>
                          <select class="w-100" name="b_field{{j}}" [(ngModel)]="field.value" required>
                            <option *ngFor="let x of b_state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                          </select>
                        </div>
                      </div>
                      <!-- if not state list exist -->
                      <div *ngIf="!b_state_list?.length" class="col-lg-6">
                        <div class="gray-card primary-card p-3">
                          <p>{{field.label}}:</p>
                          <input class="w-100" type="text" name="b_field{{j}}" [(ngModel)]="field.value" required>
                        </div>
                      </div>
                    </ng-container>
                    <div *ngIf="field.keyword!='state'" class="col-lg-6">
                      <div class="gray-card primary-card p-3">
                        <p>{{field.label}}:</p>
                        <input class="w-100" type="text" name="b_field{{j}}" [(ngModel)]="field.value" (input)="billingForm.error_msg=null;" required>
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-lg-12">
                    <div class="gray-card primary-card p-3">
                      <p>Complete Address:</p>
                      <textarea class="w-100" name="b_address" [(ngModel)]="billingForm.address" #address="ngModel" required></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="gray-card primary-card p-3">
                      <p>Landmark:</p>
                      <input class="w-100" type="text" name="b_landmark" [(ngModel)]="billingForm.landmark" #landmark="ngModel">
                    </div>
                  </div>
                </ng-container>

                <div *ngIf="addressForm.error_msg" class="col-lg-12">
                  <div class="danger-alert">
                    <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                      <span class="material-icons"></span>
                      <p class="m-0">{{addressForm.error_msg}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 offset-lg-8">
                  <button class="mt-3 primary-btn w-100 d-flex justify-content-center align-items-center" [disabled]="btnLoader" type="submit">
                    SUBMIT
                    <div class="box" *ngIf="btnLoader">
                      <div class="spinner"></div>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- address modal -->
<div bsModal #addressModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-addr">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Add New Address</h6>
      </div>
      <form autocomplete="off" (ngSubmit)="onAddAddress(addressModal);" ngNativeValidate>
        <div class="modal-body modal-scroll slim-scroll">
          <div class="row">
            <div class="col-12">
              <div class="w-100 d-flex align-items-center justify-content-center mt-3 mb-3">
                <div class="pr-2 pl-2">
                  <label class="store-label d-flex align-items-center m-0">
                    <input type="radio" class="option-input radio" name="type" value="home" [(ngModel)]="addressForm.type" />
                    <span>HOME</span>
                  </label>
                </div>
                <div class="pr-2 pl-2">
                  <label class="store-label d-flex align-items-center m-0">
                    <input type="radio" class="option-input radio" name="type" value="office" [(ngModel)]="addressForm.type" />
                    <span>OFFICE</span>
                  </label>
                </div>
                <div class="pr-2 pl-2">
                  <label class="store-label d-flex align-items-center m-0">
                    <input type="radio" class="option-input radio" name="type" value="other" [(ngModel)]="addressForm.type" />
                    <span>OTHER</span>
                  </label>
                </div>
              </div>
            </div>
            <ng-container *ngIf="list?.length">
              <div class="col-lg-6">
                <label class="store-label d-flex align-items-center justify-content-center mt-3 mb-3">
                  <input type="checkbox" class="option-input checkbox" name="billing_address" [(ngModel)]="addressForm.billing_address" #billing_address="ngModel" />
                  <span class="m-0">Mark as Default Billing Address</span>
                </label>
              </div>
              <div class="col-lg-6">
                <label class="store-label d-flex align-items-center justify-content-center mt-3 mb-3">
                  <input type="checkbox" class="option-input checkbox" name="shipping_address" [(ngModel)]="addressForm.shipping_address" #shipping_address="ngModel" />
                  <span class="m-0">Mark as Default Shipping Address</span>
                </label>
              </div>
            </ng-container>
            <div *ngIf="addressForm.type=='other'" class="col-md-12">
              <div class="gray-card primary-card p-3">
                <p>Address Title:</p>
                <input class="w-100" type="text" name="other_place" [(ngModel)]="addressForm.other_place" #other_place="ngModel" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="gray-card primary-card p-3">
                <p>Full Name:</p>
                <input class="w-100" type="text" name="name" [(ngModel)]="addressForm.name" #name="ngModel" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="gray-card primary-card p-3">
                <p>Country:</p>
                <select class="w-100" name="country" [(ngModel)]="addressForm.country" (change)="addressForm.state=null; onCountryChange(addressForm.country);"
                [disabled]="commonService?.application_setting?.ship_only_in_domestic" required>
                  <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="gray-card primary-card p-3">
                <p>Mobile No:</p>
                <div class="input-group modal-phone-no">
                  <div class="input-group-prepend">
                    <select name="dial_code" [(ngModel)]="addressForm.dial_code" #dial_code="ngModel" required class="form-control h-auto">
                      <option *ngFor="let x of commonService.country_list | orderAsc: 'dial_code';" [ngValue]="x.dial_code">{{x.dial_code}}</option>
                    </select>
                  </div>
                  <input *ngIf="!mobile_pattern" type="tel" class="form-control border-radius-0" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" appNumberOnly required>
                  <input *ngIf="mobile_pattern" type="tel" class="form-control border-radius-0" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" [pattern]="mobile_pattern"
                  maxlength="{{country_details?.mobileno_length}}" title="Please fill {{country_details?.mobileno_length}} digit mobile number" appNumberOnly required>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let field of address_fields; let j=index;">
              <ng-container *ngIf="field.keyword=='state'">
                <!-- if state list exist -->
                <div *ngIf="state_list?.length" class="col-lg-6">
                  <div class="gray-card primary-card p-3">
                    <p>{{field.label}}:</p>
                    <select class="w-100" name="field{{j}}" [(ngModel)]="field.value" required>
                      <option *ngFor="let x of state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                    </select>
                  </div>
                </div>
                <!-- if not state list exist -->
                <div *ngIf="!state_list?.length" class="col-lg-6">
                  <div class="gray-card primary-card p-3">
                    <p>{{field.label}}:</p>
                    <input class="w-100" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="field.keyword!='state'" class="col-lg-6">
                <div class="gray-card primary-card p-3">
                  <p>{{field.label}}:</p>
                  <input class="w-100" type="text" name="field{{j}}" [(ngModel)]="field.value" (input)="addressForm.error_msg=null;" required>
                </div>
              </div>
            </ng-container>
            <div class="col-lg-12">
              <div class="gray-card primary-card p-3">
                <p>Complete Address:</p>
                <textarea class="w-100" name="address" [(ngModel)]="addressForm.address" #address="ngModel" required></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="gray-card primary-card p-3">
                <p>Landmark:</p>
                <input class="w-100" type="text" name="landmark" [(ngModel)]="addressForm.landmark" #landmark="ngModel">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="display: block;">
          <div *ngIf="addressForm?.error_msg" class="col-12 px-0 danger-alert">
            <div class="alert-msg d-flex align-items-center justify-content-center p-2">
              <span class="material-icons"></span>
              <p class="m-0">{{addressForm.error_msg}}</p>
            </div>
          </div>
          <div class="col-12 px-0 d-flex justify-content-end">
            <button type="button" class="secondary-btn mr-2" (click)="addressModal.hide();">CLOSE</button>
            <button class="primary-btn d-flex justify-content-center align-items-center" type="submit" [disabled]="addressForm.submit">
              ADD
              <div class="box" *ngIf="addressForm.submit">
                <div class="spinner"></div>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>