<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section class="over-all smooth-fadein" *ngIf="!pageLoader">

  <!-- breadcrumb -->
  <section class="head-breadcrumb">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="head-breadcrumb-inner border-btm d-flex justify-content-between">
            <div>
              <h2>Order Details</h2>
              <p>Shipping and taxes included</p>
            </div>
            <div *ngIf="template_setting?.display_goback && commonService?.desktop_device" class="d-flex align-items-center justify-content-end">
              <span (click)="commonService.goBack();">GO BACK</span>
            </div>
          </div>
        </div>

        <div *ngIf="template_setting?.breadcrumb" class="col-md-12">
          <div class="breadcrumb-navigation mt-3">
            <ul class="collapsed">
              <li><a routerLink="/">Home</a></li>
              <li *ngIf="!commonService?.customer_token || checkout_details?.order_type!='pickup'">
                <a routerLink="/checkout/address-list/product">Address</a>
              </li>
              <li *ngIf="checkout_details?.order_type=='delivery'">
                <a routerLink="{{ (commonService.ys_features.indexOf('time_based_delivery')!=-1)? '/checkout/delivery-methods': '/checkout/shipping-methods' }}">
                  Choose {{(commonService.ys_features.indexOf('time_based_delivery')!=-1)? 'Delivery': 'Shipping'}} Method
                </a>
              </li>
              <li *ngIf="checkout_details?.order_type=='pickup'">
                <a routerLink="/checkout/pickup-methods">Choose Pickup Method</a>
              </li>
              <li><a class="active-page">Order Details</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--# breadcrumb #-->

  <section class="common-site-section shopping-cart">
    <div class="{{template_setting?.body_type}}">
      <div class="row m-0">
        <div class="col-lg-12 p-0">

          <div *ngIf="item_list?.length" class="row">
            <div class="col-lg-6">

              <!-- item list(desktop) -->
              <div *ngIf="commonService?.screen_width>=992" class="gray-card primary-card p-3 mt-0 mb-3">
                <table class="table checkout-table mb-5">
                  <thead class="wishlist-head">
                    <tr>
                      <td colspan="2">
                        <h6>Product</h6>
                      </td>
                      <td>
                        <h6>Quantity</h6>
                      </td>
                      <td>
                        <h6>Price</h6>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of item_list; let i=index;">
                      <td>
                        <figure>
                          <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="thum">
                        </figure>
                      </td>
                      <td>
                        <h4 class="checkout-pro-name">{{x.name}}</h4>
                        <ng-container *ngIf="x.variant_status">
                          <small *ngFor="let y of x.variant_types; let j=index;">
                            <strong>{{y.name}}:</strong> {{y.value}}
                          </small>
                        </ng-container>
                        <small *ngIf="x.addon_status && x.selected_addon">
                          <strong>Addon: </strong>
                          <span>{{x.selected_addon?.name}}<ng-container *ngIf="x.customization_status"> - </ng-container></span>
                          <span *ngIf="x.customization_status" class="cursor" (click)=" commonService.onViewModel(x.customized_model);">
                            {{x.customized_model?.name}}
                          </span>
                        </small>
                        <p *ngIf="!x.allow_cod && orderForm.cod_alert" class="error-msg">COD not available</p>
                        <p class="error-msg" *ngIf="unique_product_list?.length && x.unavailable">
                          <ng-container *ngIf="x.available_qty>0">Only {{ x.available_qty }} {{ x.unit }} available in stock</ng-container>
                          <ng-container *ngIf="x.available_qty==0">SOLD OUT</ng-container>
                        </p>
                      </td>
                      <td>
                        <!-- qty scale -->
                        <div *ngIf="!orderForm.cod_alert" class="d-flex justify-content-start align-items-center">
                          <ng-container *ngIf="unique_product_list?.length && x.unavailable">
                            <div class="pro-qty d-flex justify-content-center align-items-center height-100">
                              <!-- <button (click)="decProductQty(i);">
                                <i class="material-icons">remove</i>
                              </button> -->
                              <button class="qty-btn-disabled">
                                <i class="material-icons">remove</i>
                              </button>
                              <span class="btn-width">{{ x.quantity }}</span>
                              <button class="qty-btn-disabled">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                            <span *ngIf="template_setting?.display_unit" class="ml-2">{{ x.unit }}</span>
                          </ng-container>
                          <span *ngIf="!x.unavailable" class="ml-2">{{ x.quantity }} {{ (template_setting?.display_unit)? x.unit: '' }}</span>
                        </div>
                        <!-- for cod -->
                        <div *ngIf="orderForm.cod_alert" class="d-flex justify-content-start align-items-center">
                          <ng-container *ngIf="!x.allow_cod">
                            <div class="pro-qty d-flex justify-content-center align-items-center height-100">
                              <!-- <button (click)="decProductQty(i);">
                                <i class="material-icons">remove</i>
                              </button> -->
                              <button class="qty-btn-disabled">
                                <i class="material-icons">remove</i>
                              </button>
                              <span class="btn-width">{{ x.quantity }}</span>
                              <button class="qty-btn-disabled">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                            <span *ngIf="template_setting?.display_unit" class="ml-2">{{ x.unit }}</span>
                          </ng-container>
                          <span *ngIf="x.allow_cod" class="ml-2">{{ x.quantity }} {{ (template_setting?.display_unit)? x.unit: '' }}</span>
                        </div>
                        <!-- ## qty scale ## -->
                      </td>
                      <td>
                        <span>{{ x.tempFinalPrice | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- #item list(desktop)# -->

              <!-- item list(mobile) -->
              <div *ngIf="commonService?.screen_width<992" class="mobile-cart">
                <div class="gray-card primary-card mb-3 p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h6 class="m-0">PRODUCT</h6>
                    </div>

                    <div *ngFor="let x of item_list; let i=index;" class="col-md-12">
                      <div class="product border-top border-btm pt-3 pb-3 mt-3 mb-3">
                        <div class="product-img">
                          <figure>
                            <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="thum">
                          </figure>
                        </div>

                        <div class="d-flex flex-column w-100">
                          <div class="product-name mt-2 mb-2">
                            <h4>{{x.name}}</h4>
                            <ng-container *ngIf="x.variant_status">
                              <small *ngFor="let y of x.variant_types; let j=index;">
                                <strong>{{y.name}}</strong>
                                <span>: {{y.value}}</span>
                              </small>
                            </ng-container>
                            <small *ngIf="x.addon_status && x.selected_addon">
                              <strong>Addon: </strong>
                              <span>{{x.selected_addon?.name}}<ng-container *ngIf="x.customization_status"> - </ng-container></span>
                              <span *ngIf="x.customization_status" class="cursor" (click)=" commonService.onViewModel(x.customized_model);">
                                {{x.customized_model?.name}}
                              </span>
                            </small>
                            <p *ngIf="!x.allow_cod && orderForm.cod_alert" class="error-msg">COD not available</p>
                            <p class="error-msg" *ngIf="unique_product_list?.length && x.unavailable">
                              <ng-container *ngIf="x.available_qty>0">Only {{ x.available_qty }} {{ x.unit }} available in stock</ng-container>
                              <ng-container *ngIf="x.available_qty==0">SOLD OUT</ng-container>
                            </p>
                          </div>

                          <!-- qty scale -->
                          <div class="mt-2 mb-2">
                            <div *ngIf="!orderForm.cod_alert" class="d-flex justify-content-start align-items-center">
                              <ng-container *ngIf="unique_product_list?.length && x.unavailable">
                                <div class="pro-qty d-flex justify-content-center align-items-center height-100">
                                  <!-- <button (click)="decProductQty(i);">
                                    <i class="material-icons">remove</i>
                                  </button> -->
                                  <button class="qty-btn-disabled">
                                    <i class="material-icons">remove</i>
                                  </button>
                                  <span class="btn-width">{{ x.quantity }}</span>
                                  <button class="qty-btn-disabled">
                                    <i class="material-icons">add</i>
                                  </button>
                                </div>
                                <span *ngIf="template_setting?.display_unit">{{ x.unit }}</span>
                              </ng-container>
                              <span *ngIf="!x.unavailable">{{ x.quantity }} {{ (template_setting?.display_unit)? x.unit: '' }}</span>
                            </div>
                            <!-- for cod -->
                            <div *ngIf="orderForm.cod_alert" class="d-flex justify-content-start align-items-center">
                              <ng-container *ngIf="!x.allow_cod">
                                <div class="pro-qty d-flex justify-content-center align-items-center height-100">
                                  <!-- <button (click)="decProductQty(i);">
                                    <i class="material-icons">remove</i>
                                  </button> -->
                                  <button class="qty-btn-disabled">
                                    <i class="material-icons">remove</i>
                                  </button>
                                  <span class="btn-width">{{ x.quantity }}</span>
                                  <button class="qty-btn-disabled">
                                    <i class="material-icons">add</i>
                                  </button>
                                </div>
                                <span *ngIf="template_setting?.display_unit">{{ x.unit }}</span>
                              </ng-container>
                              <span *ngIf="x.allow_cod">{{ x.quantity }} {{ (template_setting?.display_unit)? x.unit: '' }}</span>
                            </div>
                          </div>
                          <!-- ## qty scale ## -->

                          <div class="mt-2 mb-2">
                            <span>{{ x.tempFinalPrice | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- #item list(mobile)# -->

              <!-- delivery timing -->
              <div *ngIf="shipping_method?.delivery_method" class="product-order-details gray-card primary-card p-3 mt-1 mb-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="product-order-type pb-3">
                      <div class="row">
                        <div class="col-6 d-flex align-items-center">
                          <h4>{{checkout_details?.order_type | titlecase}} Timing</h4>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <button class="primary-btn" type="button"  routerLink="{{ checkout_details?.order_type=='delivery'? '/checkout/delivery-methods': '/checkout/pickup-methods' }}">
                            Change
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="product-order-type-inner pt-3">
                      <div class="row">
                        <!-- delivery day-->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Day:</h6>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <span align="right">{{shipping_method.delivery_date}}</span>
                        </div>
                        <!-- delivery slot -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>{{(checkout_details?.order_type=='pickup')? 'Pickup Time': 'Delivery Slot'}}:</h6>
                        </div>
                        <div class="col-6  d-flex align-items-start justify-content-end">
                          <span align="right">{{shipping_method.delivery_time}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- #delivery timing #-->

              <!-- Shipping Address || Pickup Address -->
              <div class="product-order-details gray-card primary-card p-3 mt-1 mb-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="product-order-type pb-3">
                      <div class="row">
                        <div class="d-flex align-items-center" [ngClass]="(checkout_details?.order_type=='delivery')? 'col-6': 'col-12'">
                          <h4>{{ (checkout_details?.order_type=='delivery')? 'Shipping': 'Pickup' }} Address</h4>
                        </div>
                        <div *ngIf="checkout_details?.order_type=='delivery'" class="col-6 d-flex align-items-start justify-content-end">
                          <button class="primary-btn" type="button" routerLink="/checkout/address-list/product">Change</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="product-order-type-inner pt-3">
                      <div class="row">
                        <!-- name -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Name:</h6>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <span align="right">{{shipping_address.name}}</span>
                        </div>
                        <!-- phone -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Phone:</h6>
                        </div>
                        <div class="col-6  d-flex align-items-start justify-content-end">
                          <span align="right">{{shipping_address?.dial_code}} {{shipping_address.mobile}}</span>
                        </div>
                        <!-- address -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Address:</h6>
                        </div>
                        <div class="col-6  d-flex align-items-start justify-content-end">
                          <span align="right">{{shipping_address.address}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- #Shipping Address#-->

              <!-- Billing Address -->
              <div class="product-order-details gray-card primary-card p-3 mt-1 mb-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="product-order-type pb-3">
                      <div class="row">
                        <div class="d-flex align-items-center" [ngClass]="commonService.guest_email? 'col-md-6': 'col-md-12'">
                          <h4>Billing Address</h4>
                        </div>
                        <div *ngIf="commonService.guest_email" class="col-md-6 d-flex align-items-center justify-content-end">
                          <div class="billing-email">
                            <span align="right">{{commonService.guest_email}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="product-order-type-inner pt-3">
                      <div class="row">
                        <!-- name -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Name:</h6>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <span align="right">{{billing_address.name}}</span>
                        </div>
                        <!-- phone -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Phone:</h6>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <span align="right">{{billing_address?.dial_code}} {{billing_address.mobile}}</span>
                        </div>
                        <!-- address -->
                        <div class="col-6 d-flex align-items-center">
                          <h6>Address:</h6>
                        </div>
                        <div class="col-6 d-flex align-items-start justify-content-end">
                          <span align="right">{{billing_address.address}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- #Billing Address# -->
              
            </div>

            <!-- right section -->
            <div class="col-lg-6">
              <div class="product-order-details gray-card primary-card p-3 mt-0 mb-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="product-order-type pb-3">
                      <h4> Order Total
                        <span class="total-items">({{cartQty}} {{ cartQty>1 ? 'Items' : 'Item' }})</span>
                      </h4>
                    </div>
                  </div>
                </div>

                <div class="product-order-type-inner pt-3">
                  <div class="row">
                    <!-- subtotal -->
                    <div class="col-6 d-flex align-items-center">
                      <h6>Subtotal:</h6>
                    </div>
                    <div class="col-6 d-flex align-items-start justify-content-end">
                      <span align="right">{{ tempSubTotal | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                    </div>
                    <!-- gift wrapper -->
                    <ng-container *ngIf="orderForm.gift_status && commonService.application_setting.gift_wrapping_charges > 0">
                      <div class="col-6 d-flex align-items-center">
                        <h6>Gift wrapping:</h6>
                      </div>
                      <div class="col-6 d-flex align-items-start justify-content-end">
                        <span align="right">
                          {{ orderForm.tempGiftWrapCharges | currency:cc.currency?.country_code:'symbol':cc.format }}
                        </span>
                      </div>
                    </ng-container>
                    <!-- shipping -->
                    <ng-container *ngIf="checkout_details?.order_type=='delivery'">
                      <div class="col-6 d-flex align-items-center">
                        <h6>Shipping:</h6>
                      </div>
                      <div class="col-6 d-flex align-items-start justify-content-end">
                        <span align="right">
                          {{ shipping_method?.tempShippingPrice | currency:cc.currency?.country_code:'symbol':cc.format }}
                        </span>
                      </div>
                    </ng-container>
                    <!-- packaging -->
                    <ng-container *ngIf="orderForm.tempPackagingCharges>0">
                      <div class="col-6 d-flex align-items-center">
                        <h6>Packaging:</h6>
                      </div>
                      <div class="col-6 d-flex align-items-start justify-content-end">
                        <span align="right">
                          {{ orderForm.tempPackagingCharges | currency:cc.currency?.country_code:'symbol':cc.format }}
                        </span>
                      </div>
                    </ng-container>
                    <!-- discount -->
                    <div class="col-6 d-flex align-items-center">
                      <h6>Discount:</h6>
                    </div>
                    <div class="col-6 d-flex align-items-start justify-content-end">
                      <span align="right">
                        {{ ((tempManualDiscAmount*1)+(tempDiscountAmount*1)+(tempOfferAmount*1)) | currency:cc.currency?.country_code:'symbol':cc.format }}
                      </span>
                    </div>

                    <!-- giftcard section-->
                    <ng-container *ngIf="commonService.ys_features.indexOf('giftcard')!=-1 || commonService.ys_features.indexOf('manual_giftcard')!=-1">
                      <div *ngIf="commonService.checkout_setting.apply_gift_card && !coupon_list?.length" class="col-md-12">
                        <label class="store-label w-100 m-0 mt-2 mb-2">
                          <div class="d-flex align-items-center">
                            <input class="option-input checkbox" type="checkbox" name="coupon_status" [(ngModel)]="orderForm.coupon_status" (change)="orderForm.coupon_status? coupon_list=[{}] : coupon_list=[];"
                              #coupon_status="ngModel">
                            <span class="m-0">Apply Gift Cards</span>
                          </div>
                        </label>
                      </div>
                    </ng-container>
                    <!-- giftcard list -->
                    <div *ngIf="orderForm.coupon_status" class="col-md-12 smooth-fadein">
                      <div class="border-top border-btm pt-3 pb-3 mb-3">
                        <h6>Gift Cards:</h6>
                        <ng-container *ngFor="let x of coupon_list; let i=index;">
                          <form autocomplete="off" (ngSubmit)="onCalcOrderDicount();" ngNativeValidate>
                            <div class="gift-card-input input-group smooth-fadein mb-3">
                              <div class="input-group-prepend">
                                <button class="primary-btn d-flex align-items-center" type="button" (click)="onRemoveCoupon(i);">
                                  <i class="material-icons">close</i>
                                </button>
                              </div>
                              <input type="text" class="form-control" placeholder="Enter Your Code" name="code{{i}}" id="code" [(ngModel)]="x.code" #code="ngModel"
                                (input)="x.status=null; x.price=0; onGcAmtCalc();" required appUppercase />
                              <div class="input-group-append">
                                <button class="primary-btn" *ngIf="!x.status" [disabled]="!x.code" type="submit">Apply</button>
                                <span *ngIf="x.status=='valid'" class="sucess-bg smooth-fadein m-0 d-flex align-items-center justify-content-center">Valid</span>
                                <span *ngIf="x.status=='invalid'" class="error-bg smooth-fadein m-0 d-flex align-items-center justify-content-center">Invalid</span>
                              </div>
                            </div>
                          </form>
                        </ng-container>
                        <!-- add another card -->
                        <div *ngIf="coupon_list?.length<3" class="mt-4">
                          <a class="add-another" (click)="coupon_list.push({});">ADD ANOTHER CARD</a>
                        </div>
                      </div>
                    </div>

                    <!-- coupon section -->
                    <div *ngIf="commonService.checkout_setting.apply_coupon && !orderForm.offer_applied" class="col-md-12">
                      <label class="store-label w-100 m-0 mt-2 mb-2">
                        <div class="d-flex align-items-center">
                          <input class="option-input checkbox" type="checkbox" name="offer_applied" [(ngModel)]="orderForm.offer_applied" (change)="offer_form={}; offerAmount=0; tempOfferAmount=0;"
                            #offer_applied="ngModel">
                          <span class="m-0">Apply Coupon</span>
                        </div>
                      </label>
                    </div>
                    <!-- coupon code -->
                    <div *ngIf="orderForm.offer_applied" class="col-md-12 smooth-fadein">
                      <div class="border-top border-btm pt-3 pb-3 mb-3">
                        <h6>Coupon Code:</h6>
                        <form autocomplete="off" (ngSubmit)="onCalcOrderDicount();" ngNativeValidate>
                          <div class="coupon-code-input input-group mb-3">
                            <div class="input-group-prepend">
                              <button class="primary-btn d-flex align-items-center" type="button" (click)="orderForm.offer_invalid_error=null; orderForm.offer_applied=false; offer_form={}; offerAmount=0; tempOfferAmount=0;">
                                <i class="material-icons">close</i>
                              </button>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Your Code" name="code" id="code" [(ngModel)]="offer_form.code" #code="ngModel"
                              (input)="orderForm.offer_invalid_error=null; offer_form.alert_msg=null; offer_form.status=null; offerAmount=0; tempOfferAmount=0;" required appUppercase />
                            <div class="input-group-append">
                              <button *ngIf="!offer_form.status" class="primary-btn" [disabled]="!offer_form.code" type="submit">Apply</button>
                              <span *ngIf="offer_form.status" [ngClass]="(offer_form.status=='valid' && tempOfferAmount>0)? 'sucess-bg': 'error-bg'" class="smooth-fadein m-0 d-flex align-items-center justify-content-center">
                                {{ (offer_form.status=='valid' && tempOfferAmount>0)? 'Valid': 'Invalid' }}
                              </span>
                            </div>
                          </div>
                        </form>
                        <!-- coupon error -->
                        <div class="d-flex justify-content-end mt-2 mb-2" *ngIf="offer_form.alert_msg || offer_form.status">
                          <span *ngIf="offer_form.alert_msg" class="error-msg smooth-fadein m-0">{{offer_form.alert_msg}}</span>
                          <span *ngIf="!offer_form.alert_msg && offer_form.status=='valid' && tempOfferAmount<=0" class="error-msg smooth-fadein m-0">
                            Items in your cart does not satisfy the conditions of the coupon code.
                          </span>
                        </div>
                      </div>
                    </div>

                    <!-- amount payable -->
                    <div class="col-6 d-flex align-items-center m-0 mt-3 mb-3">
                      <h6 class="m-0">Amount Payable:</h6>
                    </div>
                    <div class="col-6 d-flex align-items-start justify-content-end m-0 mt-3 mb-3">
                      <span class="m-0" align="right">
                        {{ (((tempSubTotal*1)+(shipping_method.tempShippingPrice*1)+(orderForm.tempPackagingCharges*1)+(orderForm.tempGiftWrapCharges*1))-((tempManualDiscAmount*1)+(tempDiscountAmount*1)+(tempOfferAmount*1))) | currency:cc.currency?.country_code:'symbol':cc.format }}
                      </span>
                    </div>

                    <!-- gift order -->
                    <div *ngIf="checkout_details?.order_type!='pickup' && commonService.ys_features.indexOf('gift_order')!=-1 && commonService.checkout_setting.gift_order" class="col-md-12">
                      <label class="store-label w-100 m-0 mt-2 mb-2">
                        <div class="d-flex align-items-center">
                          <input class="option-input checkbox" type="checkbox" name="gift_status" [(ngModel)]="orderForm.gift_status" (change)="giftStatus();" #gift_status="ngModel">
                          <span *ngIf="commonService.application_setting.gift_wrapping_charges===0" class="m-0">This is a gift</span>
                          <span *ngIf="commonService.application_setting.gift_wrapping_charges > 0" class="m-0">Gift wrapping ({{ orderForm.dispGiftWrappingCharges | currency:cc.currency?.country_code:'symbol':cc.format }})</span>
                        </div>
                      </label>
                    </div>

                    <!-- free sample -->
                    <div *ngIf="checkout_details?.order_type!='pickup' && commonService.ys_features.indexOf('sample_request')!=-1 && commonService.checkout_setting.sample_request" class="col-md-12">
                      <label class="store-label w-100 m-0 mt-2 mb-2">
                        <div class="d-flex align-items-center">
                          <input class="option-input checkbox" type="checkbox" name="need_sample" [(ngModel)]="orderForm.need_sample" #need_sample="ngModel">
                          <span class="m-0">Get free sample</span>
                        </div>
                      </label>
                    </div>

                    <!-- order note -->
                    <div *ngIf="commonService.ys_features.indexOf('order_note')!=-1 && commonService.checkout_setting.order_note" class="col-md-12 mt-2 mb-2">
                      <textarea placeholder="Order Notes" name="order_note" [(ngModel)]="orderForm.order_note" #order_note="ngModel"></textarea>
                    </div>

                    <div class="col-md-12">
                      <div class="danger-alert smooth-fadein" *ngIf="orderForm?.cart_exceed_alert || orderForm?.offer_invalid_error || orderForm.errorMsg;">
                        <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                          <span class="material-icons"></span>
                          <!-- Too much items in your cart error -->
                          <p *ngIf="orderForm?.cart_exceed_alert;" class="m-0">Too much items in your cart</p>
                          <!-- Invalid coupon error -->
                          <p *ngIf="orderForm?.offer_invalid_error;" class="m-0">Invalid coupon</p>
                          <!-- Order creation error -->
                          <p *ngIf="orderForm.errorMsg;" class="m-0">{{orderForm.errorMsg}}</p>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="(((sub_total*1)+(shipping_method.shipping_price*1)+(orderForm.gift_wrapper*1)+(orderForm.packaging_charges*1))-((manualDiscAmount*1)+(discountAmount*1)+(offerAmount*1))) > 0" class="col-md-12">
                      <!-- payment list -->
                      <ng-container *ngFor="let x of commonService.payment_methods | orderAsc: 'rank'; let i=index;">
                        <!-- online payments -->
                        <ng-container *ngIf="x.name!='COD'">
                          <button *ngIf="!x.supported_currrencies?.length || x.supported_currrencies?.indexOf(commonService.selected_currency?.country_code)!=-1"
                          type="button" (click)="onMakePayment(x);" class="primary-btn w-100 mb-1" [disabled]="orderForm.submit">{{ x.btn_name }}<em></em></button>
                        </ng-container>
                        <!-- COD -->
                        <ng-container *ngIf="x.name=='COD' && shipping_address.country==commonService.store_details?.country">
                          <ng-container *ngIf="x.cod_config.max_amount===0 || x.cod_config.max_amount >= (((sub_total*1)+(shipping_method.shipping_price*1)+(orderForm.gift_wrapper*1))-((manualDiscAmount*1)+(discountAmount*1)+(offerAmount*1)))">
                            <ng-container *ngIf="!commonService.checkout_setting.disable_cod_custom_items || commonService.checkout_setting.disable_cod_custom_items && !existCustomItems">
                              <ng-container *ngIf="checkout_details?.order_type=='delivery' || commonService.checkout_setting.cod_store_pickup">
                                <button *ngIf="commonService.customer_token || commonService.checkout_setting.cod_guest_checkout" type="button" (click)="accept_cod_tc=false; onMakePayment(x);" class="primary-btn w-100 mb-1" [disabled]="orderForm.submit">
                                  {{ x.btn_name }}<em></em>
                                </button>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- COD alerts -->
                      <div class="danger-alert smooth-fadein" *ngIf="offerAmount>0 && orderForm.cod_offer_alert">
                        <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                          <span class="material-icons"></span>
                          <p class="m-0">Coupon code is valid only on prepaid orders.</p>
                        </div>
                      </div>
                      <div class="danger-alert smooth-fadein" *ngIf="orderForm.cod_alert">
                        <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                          <span class="material-icons"></span>
                          <p class="m-0">Some items not available for COD.</p>
                        </div>
                      </div>
                    </div>
                    <!-- place order -->
                    <div *ngIf="(((sub_total*1)+(shipping_method.shipping_price*1)+(orderForm.gift_wrapper*1)+(orderForm.packaging_charges*1))-((manualDiscAmount*1)+(discountAmount*1)+(offerAmount*1))) == 0" class="col-md-12">
                      <button type="button" (click)="onMakePayment({});" class="primary-btn w-100" [disabled]="orderForm.submit">Place Order<em></em></button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- <div *ngIf="shipping_method?.tempMinPrice" class="col-md-6">
              <div class="order-floating-popup-wrapper">
                <div class="floating-inner">
                  <i (click)="shipping_method.tempMinPrice=null;" class="material-icons">cancel</i>
                  <div class="floating-popup-content">
                    <p>
                      Add products worth {{ shipping_method.tempMinPrice | currency:cc.currency?.country_code:'symbol':cc.format }}
                      and avail FREE {{ (shipping_address.country==commonService.store_details?.country)? 'DOMESTIC': 'INTERNATIONAL' }} SHIPPING.
                    </p>
                  </div>
                  <div class="floating-popup-btn">
                    <a routerLink="/">Continue shopping</a>
                  </div>
                </div>
              </div>
            </div> -->

          </div>

          <div *ngIf="!item_list?.length" class="{{template_setting?.body_type}}">
            <div class="row">
              <div class="col-12">
                <div class="no-items d-flex align-items-center justify-content-center">
                  <img width="100%" height="100%" imgBroken src="assets/images/no_items_found.svg" alt="not-found">
                </div>
              </div>
              <div class="col-12" align="center">
                <div class="no-items-letter">
                  <p>No items to show</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
</section>

<!-- submit loader -->
<div *ngIf="orderForm.submit" class="payment-loder-wrapper">
  <div class="payment-loader"></div>
</div>

<!-- cod confirmation -->
<a [hidden]="true" id="open_cod_modal" (click)="codModal.show();"></a>
<button [hidden]="true" id="closeCodModal" (click)="codModal.hide();"></button>
<div bsModal #codModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="cod-model">
  <div class="modal-dialog modal-md" role="document">
    <!-- without sms config -->
    <div *ngIf="!codConfig?.sms_status" class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <h6 *ngIf="codConfig.cod_charges>0">
              You acknowledge that a sum of <span class="bold">{{ codConfig?.tempCodCharges | currency:cc.currency?.country_code:'symbol':cc.format }}</span> will be added to your final bill as COD handling charges.
            </h6>
            <h6 *ngIf="codConfig.cod_charges==0">
              You acknowledge that the prefered payment method for this order as Cash On Delivery (COD).
            </h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="secondary-btn" type="button" (click)="accept_cod_tc=false; codModal.hide();">Decline</button>
        <button class="primary-btn" type="button" (click)="accept_cod_tc=true; onMakePayment({name: 'COD'});">Place Order</button>
      </div>
    </div>
    <!-- with sms config -->
    <div *ngIf="codConfig?.sms_status" class="modal-content">
      <!-- Mobile form -->
      <form *ngIf="!otpForm.otp_status" autocomplete="off" (ngSubmit)="sendCodOtp();" ngNativeValidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <h6 *ngIf="codConfig.cod_charges>0">
                You acknowledge that a sum of <span class="bold">{{ codConfig?.tempCodCharges | currency:cc.currency?.country_code:'symbol':cc.format }}</span> will be added to your final bill as COD handling charges.
              </h6>
              <h6 *ngIf="codConfig.cod_charges==0">
                You acknowledge that the prefered payment method for this order as Cash On Delivery (COD).
              </h6>
            </div>
            <div class="form-group col-md-12 mb-0">
              <div class="gray-card primary-card p-3">
                <p>Mobile No</p>
                <div class="input-group modal-phone-no">
                  <div class="input-group-prepend">
                    <select name="dial_code" [(ngModel)]="billing_address.dial_code" required class="form-control h-auto" disabled>
                      <option [ngValue]="billing_address.dial_code">{{billing_address.dial_code}}</option>
                    </select>
                  </div>
                  <input type="tel" class="form-control border-radius-0" name="mobile" [(ngModel)]="otpForm.mobile" (input)="otpForm.err_msg=null;" appNumberOnly required>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="otpForm.err_msg">
              <div class="danger-alert">
                <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                  <span class="material-icons"></span>
                  <p class="m-0">{{otpForm.err_msg}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary-btn" type="button" (click)="accept_cod_tc=false; codModal.hide();">Close</button>
          <button class="primary-btn d-flex justify-content-center align-items-center" type="submit" [disabled]="otpForm.submit">
            Send OTP
            <div class="box" *ngIf="otpForm.submit">
              <div class="spinner"></div>
            </div>
          </button>
        </div>
      </form>
      <!-- otp form -->
      <form *ngIf="otpForm.otp_status" autocomplete="off" (ngSubmit)="accept_cod_tc=true; onMakePayment({name: 'COD'});" ngNativeValidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <h6 *ngIf="codConfig.cod_charges>0">
                You acknowledge that a sum of <span class="bold">{{ codConfig?.tempCodCharges | currency:cc.currency?.country_code:'symbol':cc.format }}</span> will be added to your final bill as COD handling charges.
              </h6>
              <h6 *ngIf="codConfig.cod_charges==0">
                You acknowledge that the prefered payment method for this order as Cash On Delivery (COD).
              </h6>
            </div>
            <div class="form-group col-md-12 mb-0">
              <div *ngIf="otpForm?.sms_sent" class="success-alert smooth-fadein">
                <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                  <span class="material-icons"></span>
                  <p class="m-0">OTP was sent to your mobile {{otpForm.mobile}}</p>
                </div>
              </div>
              <p *ngIf="!otpForm?.sms_sent" class="mt-3">Sent to <span class="bold">{{otpForm.mobile}}</span></p>
              <div class="gray-card primary-card p-3">
                <p>Enter OTP</p>
                <input type="tel" class="w-100" name="cod_otp" [(ngModel)]="otpForm.otp" (input)="otpForm.err_msg=null;" appNumberOnly required />
              </div>
              <p *ngIf="codSeconds>=0 && codTimer">Resend OTP <span class="bold">({{ codTimer }})</span></p>
              <button *ngIf="codSeconds<0;" class="bold secondary-btn d-flex justify-content-center align-items-center" (click)="sendCodOtp();" type="button" style="color: red;" [disabled]="otpForm.submit">
                Resend OTP
                <div class="box" *ngIf="otpForm.submit">
                  <div class="spinner"></div>
                </div>
              </button>
            </div>
            <div class="col-md-12" *ngIf="otpForm.err_msg">
              <div class="danger-alert">
                <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                  <span class="material-icons"></span>
                  <p class="m-0">{{otpForm.err_msg}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="secondary-btn" type="button" (click)="accept_cod_tc=false; codModal.hide();">Decline</button>
          <button class="primary-btn" type="submit">Place Order</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ccavenue form -->
<form #ccAvenueForm ngNoForm id="nonseamless" method="post" name="redirect" action="{{ccavenue_redirect}}">
  <input type="hidden" id="encRequest" name="encRequest" [ngModel]="encRequest">
  <input type="hidden" id="access_code" name="access_code" [ngModel]="accessCode">
</form>

<!-- razorpay form -->
<form #razorpayForm method="POST" action="{{environment.razorpay_payment_url}}">
  <input type="hidden" name="key_id" value="{{razorpayOptions.key}}">
  <input type="hidden" name="order_id" value="{{razorpayOptions.razorpay_order_id}}">
  <input type="hidden" name="name" value="{{razorpayOptions.store_name}}">
  <input type="hidden" name="description" value="{{razorpayOptions.description}}">
  <input type="hidden" name="prefill[name]" value="{{razorpayOptions.customer_name}}">
  <input type="hidden" name="prefill[email]" value="{{razorpayOptions.customer_email}}">
  <input type="hidden" name="prefill[contact]" value="{{razorpayOptions.customer_mobile}}">
  <input type="hidden" name="notes[my_store_id]" value="{{commonService.store_id}}">
  <input type="hidden" name="notes[my_order_id]" value="{{razorpayOptions.my_order_id}}">
  <input type="hidden" name="notes[my_order_type]" value="{{razorpayOptions.my_order_type}}">
  <input type="hidden" name="callback_url" value="{{environment.razorpay_redirect_url+commonService.store_id}}">
  <input type="hidden" name="cancel_url" value="{{commonService.origin}}">
</form>

<!-- square payment -->
<a [hidden]="true" id="openSquareModal" (click)="squareFormErrors= []; squarePaymentModal.show();"></a>
<div bsModal #squarePaymentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div>
          <img width="100%" height="100%" class="square-logo" src="assets/images/payment-logos/square.svg" alt="square-logo">
        </div>
        <div id="closeSquareModal" (click)="squarePaymentModal.hide();" class="d-flex">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="modal-body slim-scroll">
        <div class="{{template_setting?.body_type}}">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="row mb-2">
                <div id="square-form">
                  <button id="sq-apple-pay" class="apple-pay-button apple-pay-button-black"></button>
                  <button id="sq-google-pay" class="button-google-pay"></button>
                  <div class="socaial-or-sec pt-3 pb-4">
                    <h2><span>OR</span></h2>
                  </div>
                  <h6><strong>PAYMENT DETAILS</strong></h6>
                  <div id="sq-card-number"></div>
                  <div class="third" id="sq-expiration-date"></div>
                  <div class="third" id="sq-cvv"></div>
                  <div class="third" id="sq-postal-code"></div>
                  <button class="mt-3" id="sq-creditcard" (click)="onGetCardNonce($event);">Pay with Card</button>
                </div>
                <div class="w-100" [ngClass]="squareFormErrors.length? 'mt-2': ''">
                  <p *ngFor="let x of squareFormErrors;" class="sq-error">{{ x.message }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fatoorah payment -->
<a [hidden]="true" id="openFatoorahModal" (click)="fatoorahPaymentModal.show();"></a>
<div bsModal #fatoorahPaymentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div>
          <img width="100%" height="100%" class="fatoorah-logo" src="assets/images/payment-logos/fatoorah.svg" alt="fatoorah-logo">
        </div>
        <div id="closeFatoorahModal" (click)="fatoorahPaymentModal.hide();" class="d-flex">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="modal-body slim-scroll">
        <div class="{{template_setting?.body_type}}">
          <div class="row border-btm" *ngFor="let x of fatoorahPaymentMethods;">
            <div class="col-md-6 mt-2 mb-2">
              <img width="100%" height="100%" class="w-px-100" [src]="x.ImageUrl" alt="Image">
            </div>
            <div class="col-md-6 mt-2 mb-2">
              <button type="button" (click)="confirmFatoorah(x.PaymentMethodId);" class="primary-btn w-100" [disabled]="orderForm.submit">{{ x.PaymentMethodEn }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- QR CODE MODAL -->
<a [hidden]="true" id="openQrcodeModal" (click)="qrcodemodal.show();"></a>
<div bsModal #qrcodemodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div></div>
        <div id="closeModal" (click)="qrcodemodal.hide();" class="d-flex">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="modal-body slim-scroll">
        <div class="row">
          <div class="col-md-12 p-2">
            <div class="qr-pay-header text-center">
              <h4>
                {{ (commonService?.screen_width>=992)? 'Scan this QR Code': 'Download this QR Code' }}
              </h4>
              <p>UPI ID: <span>{{ payAppConfig?.upi_id }}</span></p>
            </div>
            <div align="center" class="qr-canvas-wrapper">
              <qrcode #qrelement class="qr-canvas-inner" [qrdata]="qrvalue" [width]="350" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <div class="qr-pay-amount text-center">
              <p class="qr-amount">Amount to be Paid: <span>{{ orderDetails?.amount | currency:cc.currency?.country_code:'symbol':cc.format }}</span></p>
            </div>
            <!-- desktop -->
            <div *ngIf="commonService?.screen_width>=992" class="qr-pay-desc text-center mt-3">
              <p>
                Scan the QR Code with any UPI apps in your mobile like BHIM, Paytm, Google Pay, PhonePe, 
                Amazon or any Banking UPI app to make payment for this order. After successful payment, 
                enter the UPI Reference/Transaction ID in the next screen and submit the form.
              </p>
            </div>
            <!-- mobile -->
            <div *ngIf="commonService?.screen_width<992" class="mobile-qr-pay-desc text-center mt-3">
              <button class="primary-btn mb-3" (click)="downloadQrcode(qrelement);" type="button">Download QR Code</button>
              <!-- ios -->
              <div *ngIf="commonService.ios">
                <h5>iOS
                </h5>
                <p>Take screenshot of this page with the QR code visible or click on the Download QR Code button above. Please follow the steps below</p>
                <ul>
                  <li>Open the Google Pay app on your phone</li>
                  <li>Click New Payment</li>
                  <li>Select UPI ID or QR option > Click Open Code Scanner</li>
                  <li>Click on the "Upload from Gallery" button located at the bottom of the screen</li>
                  <li>Select the image</li>
                  <li>Complete the payment</li>
                </ul>
                <p>The same can be done with any other UPI app that supports image uploading for QR codes.</p>
                <p>After successful payment, enter the UPI Reference/Transaction ID in the next screen and submit the form.</p>
              </div>
              <!-- Android -->
              <div *ngIf="!commonService.ios">
                <h5>Android</h5>
                <p>Take screenshot of this page with the QR code visible or click on the Download QR Code button above. Please follow the steps below</p>
                <ul>
                  <li>Open the Google Pay app on your phone</li>
                  <li>Click on "Scan any QR code"</li>
                  <li>Click on the "Upload from Gallery" button located at the bottom of the screen</li>
                  <li>Select the image</li>
                  <li>Complete the payment</li>
                </ul>
                <p>The same can be done with any other UPI app that supports image uploading for QR codes.</p>
                <p>After successful payment, enter the UPI Reference/Transaction ID in the next screen and submit the form.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="qr-proc-btn-sec d-flex justify-content-center">
          <button class="secondary-btn mr-3" type="button" (click)="qrcodemodal.hide();">Close</button>
          <button class="primary-btn" type="button" (click)="qrcodemodal.hide(); qrcodeconfirmmodal.show();">Proceed to Next Step</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- QR CODE CONFIRMATION -->
<div bsModal #qrcodeconfirmmodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div></div>
        <div id="closeModal" (click)="qrcodeconfirmmodal.hide();" class="d-flex">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="modal-body slim-scroll">
        <div class="row">
          <form autocomplete="off" (ngSubmit)="onupdateOrderId(payment_id, orderDetails.order_id);" ngNativeValidate>
            <div class="col-md-12 p-2">
              <div class="qr-pay-header text-center">
                <h4>Confirm your Payment!</h4>
              </div>
              <div class="trans-id d-flex flex-column align-items-center justify-content-center mt-3">
                <label class="w-auto">Input Reference/Transaction ID or your UPI ID</label>
                <input type="text" name="payment_id" [(ngModel)]="payment_id" required />
              </div>
              <div class="qr-pay-desc text-center mt-3">
                <p>Click Confirm, only after amount deducted form your account, We will manually verify your transaction. Are you sure?</p>
              </div>
              <div class="qr-proc-btn-sec d-flex justify-content-center mt-3">
                <button class="secondary-btn mr-3" (click)="qrcodeconfirmmodal.hide(); qrcodemodal.show();" type="button">Go Back</button>
                <button class="primary-btn" type="submit">Confirm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BANK PAYMENT MODAL -->
<a [hidden]="true" id="openBankPayModal" (click)="bankpaymodal.show();"></a>
<div bsModal #bankpaymodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
    <form autocomplete="off" (ngSubmit)="onupdateOrderId(payment_id, orderDetails.order_id);" ngNativeValidate>
      <div class="modal-content">
        <div class="modal-header d-flex align-items-center">
          <div></div>
          <div id="closeModal" (click)="bankpaymodal.hide();" class="d-flex">
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="modal-body slim-scroll">       
          <div class="row">
            <div class="col-md-12">
              <div class="qr-pay-header">
                <div class="qr-pay-amount">
                  <p class="qr-amount">Amount to be Paid: <span>{{ orderDetails?.amount | currency:cc.currency?.country_code:'symbol':cc.format }}</span></p>
                  <p *ngFor="let x of payAppConfig?.field_list;">
                    <span class="qr-amount">{{x.title}}</span> : {{x.value}}
                  </p>
                </div>
                <div class="qr-pay-desc mt-3">
                  <p [innerHtml]="payAppConfig?.description"></p>
                </div>
                <div *ngIf="payAppConfig?.pay_id_field_status" class="trans-id mt-3">
                  <label class="w-auto">Referrence ID or Transaction ID</label>
                  <input class="w-100" type="text" name="payment_id" [(ngModel)]="payment_id" required />
                </div>
              </div>
            </div>
          </div>      
        </div>
        <div class="modal-footer">
          <div class="qr-proc-btn-sec d-flex justify-content-center">
            <button class="secondary-btn mr-3" type="button" (click)="bankpaymodal.hide();">Close</button>
            <button class="primary-btn" type="submit">Place Order</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- YS Package Subscription Modal -->
<a [hidden]="true" id="ysps_modal" (click)="yspsModal.show();"></a>
<div bsModal #yspsModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="cod-model">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h6 class="m-0">This store is under trial, please select a plan in Yourstore Dashboard to continue.</h6>
      </div>
      <div class="modal-footer">
        <button class="secondary-btn" type="button" (click)="yspsModal.hide();">Close</button>
      </div>
    </div>
  </div>
</div>